{% load static %}
{% load staticfiles %}

<footer class="footer page-footer font-small px-5 py-5">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <div class="row">
                    <div class="footer-brand col-md-2">
                        <img src="{% static 'img/logo_bas.png' %}" width="55" height="45">
                    </div>
                    <div class="col-md-10">
                        <a href="/">
                            <h5 class="footer-title">MIZUSHIMA METAL WORKS INDONESIA</h5>
                        </a>
                        <p>{{ alamat.deskripsi }}</p>
                        <p>Telp. {% for t in telepon %} {{ t.nomor }}, {% endfor %}<br>
                            Fax. {% for f in fax %} {{ f.nomor }} {% endfor %}</p>
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <a href="/profil">
                    <h5 class="text-uppercase footer-title">Profil Petinggi</h5>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="#deskripsi">Tentang BAS</a>
                    </li>
                    <li>
                        <a href="#visiMisi">Visi Misi</a>
                    </li>
                    <li>
                        <a href="#profil">Profil Petinggi</a>
                    </li>
                </ul>
                <a href="/kebijakan-mutu">
                    <h5 class="text-uppercase footer-title">Kebijakan Mutu</h5>
                </a>
                <a href="/karir">
                    <h5 class="text-uppercase footer-title">Karir</h5>
                </a>
                <a href="{% url 'mobile' %}">
                    <h5 class="text-uppercase footer-title">Portal Pegawai</h5>
                </a>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3 social-media">
                <div>
                    <h5 class="text-uppercase footer-title">Ikuti kami</h5>
                    <a class="logo-sosmed" target="_blank" rel="noopener noreferrer" href="{{ fb.url }}"><img
                            src="{% static 'img/icon-facebook.png' %}"></a>
                    <a class="logo-sosmed" target="_blank" rel="noopener noreferrer" href="{{ twitter.url }}"><img
                            src="{% static 'img/icon-twitter.png' %}"></i></a>
                    <a class="logo-sosmed" target="_blank" rel="noopener noreferrer" href="{{ gplus.url }}"><img
                            src="{% static 'img/icon-googleplus.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</footer>