{% load static %}
{% load staticfiles %}

<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo_bas.png' %}" width="55" height="45" alt="logo-bas">
    </a>
    <button class="navbar-toggler header-button" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-hamburger"><span></span><span></span><span></span></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{% url 'compro:beranda' %}">BERANDA</span></a>
            <a class="nav-item nav-link" href="{% url 'compro:profil' %}">PROFIL PETINGGI</a>
            <a class="nav-item nav-link" href="{% url 'compro:kebijakan-mutu' %}">KEBIJAKAN MUTU</a>
            <a class="nav-item nav-link" href="{% url 'compro:karir' %}">KARIR</a>
            <a class="nav-item nav-link" href="{% url 'mobile' %}">PORTAL PEGAWAI</a>
        </div>
    </div>
</nav>