{% extends "base.html" %}
{% block content %}
<style>
    body {
        background-color: #f9f9f9;
        color: #666666;
    }

    .base {
        display: block;
        text-align: center;
        margin: 5% auto;
    }

    .company-logo {
        height: 7%;
        width: 7%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }

    .company-name {
        margin: 0;
        font-size: 15px;
    }

    .login-form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: left;
    }

    .form-group input {
        height: 50px;
    }

    .form-group {
        font-size: 15px;
    }

    .btn-masuk {
        height: 50px;
        width: 250px;
        background-color: #417e91;
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .base {
            margin: 25% auto;
        }

    }
</style>
</head>
<div class="shifted-content-2 h-100 p-ab">
    <div class="h-100 p-4">
        <section class="mb-10">
            <p class="h1">Download :</p>
        </section>
        <section>
            {% if request.user.access != 'finance' %}
            <table class="table">
                <thead>
                    <th>Data Pegawai</th>
                    <th></th>
                </thead>
                <tbody>
                    {% if request.user.access == 'director' %}
                    <tr>
                        <td>Akses Pegawai</td>
                        <td>
                            <button class="button crud-button" onclick="location = '/admin/export/access/'">
                                <i class="fa fa-plus"></i> Download
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                    {% if request.user.access != 'finance' %}
                    <tr>
                        <td>Data Pegawai</td>
                        <td>
                            <button class="button crud-button" onclick="location = '/admin/export/staff/'">
                                <i class="fa fa-plus"></i> Download
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
            {% if request.user.access != 'hrd' %}
            <table class="table mt-5" id="t-flt" data-role="table" data-rows="10" data-rows-steps="10, 10"
                data-show-rows-steps="false" data-show-search="true">
                <thead>
                    <th>Data Gaji</th>
                    <th></th>
                </thead>
                <tbody>
                    {% if request.user.access != 'hrd' %}
                    {% for m in months %}
                    <tr>
                        <td>Data Gaji Bulan {{ m.bulan }} - Staff</td>
                        <td>
                            <button class="button crud-button"
                                onclick="location = '/admin/export/payroll/{{ m.bulan }}/staff'">
                                <i class="fa fa-plus"></i> Download
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Gaji Bulan {{ m.bulan }} - Dept</td>
                        <td>
                            <button class="button crud-button"
                                onclick="location = '/admin/export/payroll/{{ m.bulan }}/dept'">
                                <i class="fa fa-plus"></i> Download
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
        </section>
    </div>
</div>

{% endblock %}