{% extends "base.html" %}

{% block content %}

<style>
    select {
        background-color: #5a9db1 !important;
        border-radius: 5px;
        border-color: #5a9db1;
        border-style: solid;
        color: rgb(255, 255, 255);
    }

    #absence {
        margin: 30px;
        width: 150px;
        height: 150px;
    }
</style>

<div class="shifted-content-2 h-100 p-ab">
    <div class="h-100 p-4">
        <section class="mb-10">
            <p class="h1">Beranda</p>
            <div class="row">
                <div class="cell-lg-3">
                    <p>Laporan untuk Bulan</p>
                </div>
                <div class="cell-lg-3">
                    <select data-style="monthly-report-select">
                        <option>Januari 2019</option>
                        <option>Februari 2019</option>
                    </select>
                </div>
            </div>
        </section>
        <!-- <section>
            <p class="text">Absensi</p>
            <div class="row">
                <div class="cell-lg-3">
                    <div id="absence"></div>
                </div>
            </div>
        </section> -->
        {% comment %} <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart"></canvas>
        </div> {% endcomment %}
    </div>
</div>

{% endblock %}

{% block js  %}
<script>
    {% comment %} var bar = new ProgressBar.Circle(absence, {
        color: 'rgb(110, 160, 97)',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 1400,
        easing: 'bounce',
        strokeWidth: 6,
        from: { color: 'rgb(110, 160, 97)', width: 1 },
        to: { color: 'rgb(110, 160, 97)', width: 4 },
        step: function (state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 100);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value);
            }

        }
    });

    bar.animate(1.0); {% endcomment %}

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [ 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: 
                'rgba(255, 159, 64, 0.2)'
            ,
            borderColor:
                'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}