<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }

    .sidebar-logo {
        mix-blend-mode: normal;
        object-fit: fill;
        object-position: center center;
        width: 73px;
        height: 36px;
        transform: rotate(0deg) translate(108px, 30px) rotate(0deg);
    }

    .sidebar-header {
        border-bottom: unset;
    }

    .category {
        font-size: 20px;
        padding-left: 10px;
        margin-top: 20px;
    }

    .subcategory {
        font-size: 16px;
        padding-left: 25px;
    }

    .bg-sidebar {
        background-color: #5a9db1;
    }
</style>

{% load static %}
{% load staticfiles %}

<aside class="sidebar bg-sidebar  z-2" data-role="sidebar" data-toggle=".sidebar-toggle-4" id="sb4"
    data-shift=".shifted-content-2">
    <div class="sidebar-header bg-sidebar">
        <a href="" class="fg-white sub-action sidebar-toggle-4" onclick="return false;">
            <span class="mif-arrow-left mif-2x fg-white"></span>
        </a>
        <div class="img-container sidebar-logo">
            <img src="{% static 'img/logo_bas.png' %}" />
        </div>
        <div class="text-center pt-15">
            <span class="title fg-white">Payroll Software</span><br>
            <span class="subtitle fg-white">MIZUSHIMA METAL WORKS INDONESIA</span>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="text-medium fg-white category">Beranda</li>

        {% if request.user.access != None and request.user.access != 'finance' %}
        <a href="/admin/dashboard/staff">
            <li class="fg-white subcategory">Dashboard HRD</li>
        </a>
        {% endif %}

        {% if request.user.access != None and request.user.access != 'hrd' %}
        <a href="/admin/dashboard/payroll">
            <li class="fg-white subcategory pb-2">Dashboard Gaji</li>
        </a>
        {% endif %}

        {% if request.user.access != None and request.user.access != 'finance' %}
        <li class="text-medium fg-white category">Database HRD</li>
        <a href="/admin/staff/upload/">
            <li class="fg-white subcategory pb-2">Upload Database HRD</li>
        </a>
        <a href="/admin/staff/">
            <li class="fg-white subcategory">Pengaturan Database HRD</li>
        </a>
        {% endif %}

        {% if request.user.access != None and request.user.access != 'hrd' %}
        <li class="text-medium fg-white category">Gaji</li>
        <a href="/admin/payroll/upload/">
            <li class="fg-white subcategory">Upload Gaji</li>
        </a>
        <a href="/admin/payroll/">
            <li class="fg-white subcategory pb-2">Pengaturan Gaji</li>
        </a>
        {% endif %}

        {% if request.user.access != None and request.user.access == 'director' %}
        <li class="text-medium fg-white category">Profil</li>
        <a href="/admin/profile/access/">
            <li class="fg-white subcategory">Lihat Profil</li>
        </a>
        <a href="/admin/profile/">
            <li class="fg-white subcategory">Tambah Profil</li>
        </a>
        {% endif %}

        {% if request.user.access != None %}
        <a href="/admin/export/">
            <li class="text-medium fg-white category">Download</li>
        </a>
        {% endif %}

        {% if request.user.access != None %}
        <a href="/admin/payroll/history">
            <li class="fg-white fg-white category">History</li>
        </a>
        {% endif %}

        <a onclick="Metro.dialog.open('#logout-confirmation')">
            <li class="text-medium fg-white category">Logout</li>
        </a>

        <div class="dialog" id="logout-confirmation" data-role="dialog">
            <div class="dialog-title">Logout</div>
            <div class="dialog-content">
                Anda yakin ingin keluar Mizushima Payroll Distribution System
            </div>
            <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Batal</button>
                <button class="button alert" onclick="location = '/auth/logout/'">
                    Keluar
                </button>
            </div>
        </div>
    </ul>
</aside>