@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #f6f6f6;
}

.base-body {
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: 60%;
}