.footer {
    background-color: #f6f6f6;
}

.footer p, .footer a, .footer span {
    color: #707070;
}

.footer a {
    text-decoration: none;
}

h5.footer-title {
    font-weight: bold;
    color: #707070;
}

.col-md-10 .footer-title {
    color: #4370d9;
}

.text-uppercase.footer-title {
    font-size: 18px;
}

.list-unstyled li {
    margin: 10px auto;
}

.social-media {
    text-align: center;
}

.social-media > div h5 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer-brand {
        margin-bottom: 10px;
    }
    
}