.navbar-light {
    background-color: #f6f6f6;
}

.navbar .navbar-brand {
    margin-left: 40px;
}

.navbar .navbar-nav {
    margin-right: 100px;
}

.navbar-nav .nav-item {
    margin: auto 20px;
}

.navbar-nav .nav-item:nth-child(3) {
    margin-right: 300px;
}

.navbar-nav .nav-item.active {
    border-bottom: #4370d9 solid 5px;
    border-radius: 2px;
}

.navbar-nav .nav-item.active:nth-child(3) {
    margin-right: 300px;
}

.navbar-nav a.nav-item.nav-link:hover {
    color: #4370d9;
}

.header-button {
    border: none;
}

.header-button:focus {
    outline: none;
}

.animated-hamburger {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-hamburger span {
    background: #707070;
}

.animated-hamburger span:nth-child(1) {
    top: 0px;
}

.animated-hamburger span:nth-child(2) {
    top: 10px;
}

.animated-hamburger span:nth-child(3) {
    top: 20px;
}

.animated-hamburger.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-hamburger.open span:nth-child(2) {
    opacity: 0;
}

.animated-hamburger.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .navbar .navbar-brand {
        margin-left: 10px;
    }
}