.base-body {
    text-align: center;
}

.base-body .hero-img img {
    width: 100%;
}

.base-body .box {
    margin: 70px auto;
}

.base-body > div > h5 {
    font-size: 30px;
    color: #4370d9;
    font-weight: bold;
}

.base-body .long-desc {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

.base-body .visi-misi, .base-body .profil-petinggi {
    background-color: #e7eaf1;
    padding: 20px;
    font-size: 16px;
    color: #707070;
}

.base-body .profil-petinggi {
    background-color: #e7eaf1;
    padding: 20px;
    font-size: 16px;
    color: #707070;
}

.base-body .visi-misi div {
    text-align: left;
}

.base-body .visi-misi div h5 {
    font-weight: bold;
}

.base-body .struktur-organisasi div img {
    width: 100%;
    height: 100%;
}

.base-body .profil-petinggi > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.base-body .profil-petinggi > div .card {
    flex: 1 1 100%;
    margin: 10px;
}

.base-body .profil-petinggi > div .card .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    font-weight: bold;
}

.modal {
    display: none !important; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #f6f6f6;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #f6f6f6;
    color: white;
}

.modal-body {
    padding: 2px 5px;
}

.modal-body .col-md-8 h5 {
    font-size: 30px;
    color: #4370d9;
    font-weight: bold;
}

.modal-body .col-md-4 div {
    margin-top: 20px;
}

.modal-body .col-md-4 div p {
    font-size: 14px;
    margin: 0;
}

.modal-body #imgModal {
    object-fit: cover;
    object-position: 50% 0;
}

.closebtn {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closebtn:hover,
.closebtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .base-body, .base-body .profil-petinggi {
        margin-bottom: 20px !important;
    }

    .footer {
        padding-top: 0 !important;
    }

    .base-body .long-desc p, .base-body .visi-misi p {
        font-size: 12px;
    }

    .base-body .profil-petinggi > div .card {
        margin: 20px 40px 10px 40px;
    }

    .modal-content {
        height: 400px;
    }

    .modal-body {
        overflow-y: auto;
    }

    .modal-body .col-md-8 {
        margin: 30px 20px auto 20px
    }

    .modal-body .col-md-8 h5 {
        font-size: 20px;
    }

    .modal-body .col-md-8 p, .modal-body .col-md-4 div p {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .base-body .long-desc, .base-body .visi-misi {
        padding-left: 100px;
        padding-right: 100px;
    }

    .base-body .profil-petinggi > div {
        flex-wrap: nowrap;
    }

    .base-body .profil-petinggi > div .card {
        flex: 0 1 20%;
        margin: 20px;
    }

    .modal-content {
        width: 80%;
    }

    .modal-body {
        padding: 10px 50px 50px 50px;
    }

    .modal-body .col-md-8 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .base-body .long-desc {
        padding-left: 300px;
        padding-right: 300px;
    }

    .base-body .visi-misi div {
        padding-left: 300px;
        padding-right: 300px;
    }

    .base-body .struktur-organisasi > div img {
        width: 647px;
        height: 760px;
    }

    .base-body .profil-petinggi > div {
        flex-wrap: nowrap;
    }

    .base-body .profil-petinggi > div:first-of-type {
        margin-left: 30px;
        margin-right: 30px;
    }

    .base-body .profil-petinggi > div .card {
        flex: 0 1 20%;
        margin: 5px;
    }

    .modal-content {
        width: 55%;
    }

    .modal-body {
        padding: 10px 50px 50px 50px;
    }

    .modal-body .col-md-8 {
        text-align: left;
    }
}
