.base-body .brief-desc hr {
    background-color: #000000;
    border: 1px solid #707070;
    width: 100px;
}

.base-body {
    text-align: center;
}

.base-body .box {
    margin: 70px auto;
    position: relative;
}

.base-body > div h5 {
    font-size: 30px;
    color: #4370d9;
    font-weight: bold;
}

.base-body .hero-img img {
    width: 100%;
}

.base-body .brief-desc p {
    font-size: 20px;
    line-height: 30px;
    color: #707070;
    font-weight: 400;
}

.base-body .company-value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 40px;
}

.base-body .company-value .in-box {
    flex: 1 1 100%;
    display: flex;
}

.base-body .company-value .in-box div {
    margin: 10px 5px;
}

.base-body .company-value .in-box div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.base-body .company-value .in-box p {
    text-align: left;
    margin: 0;
}

.base-body .company-value .in-box div p:first-of-type {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
}

.base-body .company-value .in-box div p:not(first-of-type) {
    font-size: 20px;
    color: #707070;
}

.base-body .company-services {
    background-color: #e7eaf1;
    padding: 20px;
}

.base-body .company-services > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.base-body .company-services > div div {
    flex: 1 1 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.base-body .company-services > div div p {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    margin-top: 20px;
}

.base-body .company-testimoni > div {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.base-body .company-testimoni p {
    display: none;
}

.base-body .company-testimoni p.selected {
    display: block;
}

.base-body .company-testimoni p:not(first-of-type) {
    font-size: 16px;
    line-height: 30px;
    color: #707070;
    margin: auto 10px;
}

.base-body .company-testimoni p.position {
    font-size: 20px;
    line-height: 30px;
    color: #707070;
    margin: 10px 10px;
}

.base-body .company-testimoni > div div {
    flex: 1 1 20%;
    margin: auto 10px;
}

.base-body .company-testimoni > div div {
    opacity: 0.5;
    transform: scale(0.75);
}

.base-body .company-testimoni > div div.selected {
    opacity: 1;
    transform: scale(1);
}

.base-body .company-testimoni > div div:hover {
    cursor: pointer;
}

.frame-1 img, .frame-2 img, .frame-3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.base-body .company-gallery {
    text-align: left;
}

.base-body .company-gallery div p {
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

.base-body .company-gallery .slider img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.base-body .company-gallery .slider {
    margin: auto;
    width: 80%;
}

.slick-next {
    right: 40px;
}

.slick-prev {
    left: 50px;
}

.slick-prev:before, .slick-next:before {
    font-family: 'Font Awesome\ 5 Free';
    font-size: 40px;
    line-height: 1;
    color: #7340cc;
    opacity: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: "\f053";
    font-weight: 900;
}

.slick-next:before {
    content: "\f054";
    font-weight: 900;
}

.slick-slide:focus {
    outline: none;
}

@media (max-width: 768px) {
    .base-body, .base-body .company-gallery {
        margin-bottom: 20px !important;
    }

    .footer {
        padding-top: 0 !important;
    }

    .base-body .brief-desc p,
    .base-body .company-value .in-box div p:not(first-of-type),
    .base-body .company-testimoni p:not(first-of-type),
    .base-body .company-gallery > div p {
        font-size: 12px;
    }

    .base-body .brief-desc {
        margin-left: 20px;
        margin-right: 20px;
    }

    .base-body .company-services > div div {
        padding: 15px;
        margin: 10px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .base-body .company-services > div div img {
        width: 60px;
        height: 60px;
    }

    .base-body .company-testimoni {
        margin-left: 20px;
        margin-right: 20px;
    }

    .base-body .company-testimoni p.position {
        font-size: 16px;
    }

    .frame-1 img, .frame-2 img, .frame-3 img {
        width: 90px;
        height: 90px;
    }

    .base-body .company-gallery > div:nth-child(2) {
        margin-top: 20px;
        text-align: center;
    }

    .base-body .company-gallery .slider img {
        height: 145.13px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .base-body .brief-desc p {
        margin-left: 50px;
        margin-right: 50px;
    }

    .base-body .company-value .in-box {
        flex: 1 1 50%;
    }

    .base-body .company-services > div {
        margin: auto 5%;
    }

    .base-body .company-services > div div {
        flex: 1 1 30%;
    }

    .base-body .company-testimoni > div {
        display: flex;
        flex-direction: row;
        margin: 20px 25%;
    }

    .base-body .company-testimoni p:not(first-of-type) {
        font-size: 16px;
        line-height: 30px;
        color: #707070;
        margin: auto 40px;
    }

    .base-body .company-gallery {
        margin: auto 20px;
    }

    .base-body .company-gallery .slider img {
        height: 282.94px;
    }
}

@media (min-width: 992px) {
    .base-body {
        margin-bottom: 0 !important;
    }

    .base-body .brief-desc p {
        margin-left: 250px;
        margin-right: 250px;
    }

    .base-body .company-value .in-box {
        flex: 0 1 50%;
    }

    .base-body .company-services > div {
        margin: auto 5%;
        flex-wrap: nowrap;
    }

    .base-body .company-services > div div {
        flex: 0 1 30%;
    }

    .base-body .company-testimoni > div {
        display: flex;
        flex-direction: row;
        margin: 20px 35%;
    }

    .base-body .company-testimoni p:not(first-of-type) {
        font-size: 16px;
        line-height: 30px;
        color: #707070;
        margin: auto 200px;
    }

    .base-body .company-gallery {
        margin: auto 50px;
    }

    .base-body .company-gallery .col-md-8.slider {
        margin: auto;
        padding-left: 90px;
    }

    .base-body .company-gallery .slider img {
        width: 622.22px;
    }

    .base-body .brief-desc {
        top: -320px;
        padding-top: 30px;
        padding-bottom: 55px;
        background-color: rgba(246, 246, 246, 0.9);
    }

    .base-body .company-value {
        top: -300px;
        padding-left: 150px;
        padding-right: 150px;
        background-color: rgba(246, 246, 246, 1);
    }

    .base-body .company-services {
        top: -300px;
    }

    .base-body .company-testimoni {
        top: -300px;
    }

    .base-body .company-gallery {
        top: -300px;
    }

    .footer {
        position: relative;
        top: -250px;
    }
}