.base-body {
    text-align: center;
}

.base-body .hero-img img {
    width: 100%;
    margin-bottom: 50px;
}

.base-body .karir {
    display: inline-block;
    margin: auto 30px;
}

.base-body .karir h4 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #4370d9;
    font-weight: bold;
}

.base-body .karir p {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

@media (max-width: 768px) {
    .base-body, .base-body .karir {
        margin-bottom: 20px !important;
    }

    .footer {
        padding-top: 0 !important;
    }

    .base-body .karir p {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .base-body .karir {
        margin: auto 100px;
    }
}

@media (min-width: 992px){
    .base-body .karir {
        margin: auto 400px;
    }
}