{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Payroll Software</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/QdjBrPK/fav-ico.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <style>
    body {
      background-color: #f9f9f9;
      color: #666666;
    }

    .base {
      display: block;
      text-align: center;
      margin: 5% auto;
    }

    .company-logo {
      height: 7%;
      width: 7%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }

    .company-name {
      margin: 0;
      font-size: 15px;
    }

    .login-form {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      text-align: left;
    }

    .form-group input {
      height: 50px;
    }

    .form-group {
      font-size: 15px;
    }

    .btn-masuk {
      height: 50px;
      width: 250px;
      background-color: #417e91;
      color: white;
    }

    @media only screen and (max-width: 768px) {
      .base {
        margin: 25% auto;
      }

      .company-logo {
        height: 30%;
        width: 30%;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/pegawai">
      <img src="{% static 'img/logo_bas.png' %}" width="52" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/pegawai">Beranda</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/edit/{{ nopeg }}/">Ubah password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="base">
    <img class="company-logo" src="{% static 'img/logo_bas.png' %}" />
    <p class="text-center company-name">Payroll Software</p>
    <p class="text-center company-name">MIZUSHIMA METAL WORKS INDONESIA</p>
    <p class="mt-4"><strong>Change Password</strong></p>
    <form class="login-form" action="/change/password/{{ nopeg }}/" method="POST">
      <div class="form-group">
        <input type="password" name="password1" class="form-control" id="password1" placeholder="Old password"
          required />
      </div>
      <div class="form-group">
        <input type="password" name="password2" class="form-control" id="password2" placeholder="New password"
          required />
      </div>
      <button class="btn btn-masuk">Change</button>
    </form>
  </div>

  <footer></footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>