{% load custom_filter %}



<div id="dashboard_hrd">
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Pegawai Aktif (year to date)</p><h3 style="margin: 0"><strong>{{ aktif_avg }}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Pegawai Aktif (current month)</p><h3 style="margin: 0"><strong>{{ aktif_current }}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Pegawai Non-aktif (year to date)</p><h3 style="margin: 0"><strong>{{ nonaktif_avg }}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Total Unit</p><h3 style="margin: 0"><strong>{{ jumlah_unit }}</strong></h3></div></div>
    </div>
</div>