{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Payroll Software</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/QdjBrPK/fav-ico.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <style>
    body {
      background-color: #f9f9f9;
      color: #666666;
    }

    .base {
      text-align: center;
      margin: 5% auto;
    }

    .user-info img {
      height: 170px;
      width: 130px;
      margin-bottom: 3vw;
    }

    .user-info p {
      margin: 0;
    }

    .user-info p:first-of-type {
      font-size: 24px;
      font-weight: bold;
      color: #4c4c4c;
    }

    .user-info p:not(first-of-type) {
      font-size: 12px;
    }

    .wage-title {
      text-align: left;
      height: 40px;
      background-color: #417e91;
      margin: 20px 5% auto 5%;
      color: white;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      font-size: 14px;
    }

    .btn-unduh {
      background-color: #417e91;
      color: white;
    }

    .modal-footer {
      display: grid !important;
      justify-content: unset !important;
    }

    @media only screen and (max-width: 768px) {
      .base {
        margin: 20% auto;
      }
    }


    @media screen and (max-width: 767px) {
      .kolom-gambar {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 20px;
      }

      #OpenImgUpload {
        font-size: 15px;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/pegawai">
      <img src="{% static 'img/logo_bas.png' %}" width="52" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/pegawai">Beranda</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/edit/{{ staff.nopeg }}/">Ubah password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="base">
    <div class="user-info">
      <div class="kolom-gambar">
        {% if user.profile_picture %}
        <img id="foto-akun" class="img-fluid" src="{{ user.profile_picture.url }}">
        {% else %}
        <img id="foto-akun" class="img-fluid" src="{% static '/img/dummy.jpg' %}">
        {% endif %}
        <input type="file" id="imgupload" style="display:none" />
        <button id="OpenImgUpload" type="button" class="btn btn-outline-primary">
          Ganti foto profil+
        </button>
      </div>

      <p>{{ staff.nama_pegawai }}</p>
      <p>{{ staff.nopeg }}</p>
      <p>{{ staff.departemen_sekarang }}</p>
    </div>
    <div class="wage-title">Status Gaji</div>
    <div class="user-wage">
      {% for pdf in pdfs %}
      <div class="row py-2">
        <div class="col pl-3">{{ pdf.0.1 }}</div>
        <!-- Button trigger modal -->
        <div class="col">
          <button type="button" class="btn btn-unduh" data-toggle="modal" data-target="#example{{ pdf.0.1|cut:' ' }}">
            Unduh
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="example{{ pdf.0.1|cut:' ' }}" tabindex="-1" role="dialog"
        aria-labelledby="example{{ pdf.0.1|cut:' ' }}CenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header btn-unduh text-center">
              <h5 class="modal-title" id="example{{ pdf.0.1|cut:' ' }}CenterTitle">Payslip {{ pdf.0.1 }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Payslip yang sudah dipublish dan dapat diunduh adalah yang berwarna biru
            </div>
            <div class="modal-footer">
              {% for item in pdf %}
              {% if item.2 %}
              <a class="btn btn-sm btn-unduh" href="/admin/pdf/{{ staff.nopeg }}/{{ item.1 }}/{{ item.0 }}/"
                download="Slip {{ item.0 }} {{ item.1 }}">
                {{ item.0 }}
              </a>
              {% else %}
              <button class="btn btn-sm disabled">
                {{ item.0 }}
              </button>
              {% endif %}
              <br />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <footer></footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    $('#OpenImgUpload').click(function () {
      $('#imgupload').trigger('click');
    });

    $("#imgupload").change(function () {
      readURL(this);
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#foto-akun').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
        console.log(input.files[0]);

        var formData = new FormData();

        formData.append('file', input.files[0]);

        $.ajax({
          url: '/update/picture/',
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success: function (status) {
            console.log(status);
          }
        });

      }
    }
  </script>
</body>

</html>