{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }} | MIZUSHIMA METAL WORKS INDONESIA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="PT. Bima Aero Sejahtera selalu berupaya untuk memberikan pelayanan terbaik kepada seluruh mitra maupun customer. Berbekal keinginan untuk memberikan pelayanan terbaik tersebut kami menyusun nilai perusahaan meningkatkan mutu pelayanan Perusahaan">
    <link rel="shortcut icon" href="{% static 'img/logo_bas.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block head %}

    {% endblock %}
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="base-body">
        {% block content %}

        {% endblock %}
    </div>

    {% include "partials/footer.html" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.header-button').on('click', function () {
                $('.animated-hamburger').toggleClass('open');
            });
            $(document).on('click', 'a[href^="#"]', function (e) {
                var id = $(this).attr('href');
                var $id = $(id);
                if ($id.length === 0) {
                    return;
                }
                e.preventDefault();
                var pos = $id.position().top;
                $('body, html').animate({ scrollTop: pos });
            });
        });
    </script>
    {% block script %}

    {% endblock %}
</body>

</html>