{% extends "base_compro.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href="{% static 'css/beranda.css' %}">
{% endblock %}

{% block content %}
<div class="hero-img">
    <img src="{{ hero_img.gambar.url }}">
</div>
<div class="box brief-desc">
    <h5>Selamat Datang</h5>
    <hr>
    <p>{{ deskripsi_singkat.deskripsi|linebreaksbr }}</p>
</div>
<div class="box company-value">
    {% for np in nilai_perusahaan %}
    <div class="in-box">
        <div>
            <img src="{{ np.gambar.url }}">
        </div>
        <div>
            <p class="text-uppercase">{{ np.judul }}</p>
            <p>{{ np.deskripsi }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="box company-services">
    <h5 class="text-uppercase">Service Perusahaan</h5>
    <div>
        <div>
            <img src="{% static 'img/icon-outsourcing.png' %}">
            <p>OUTSOURCING</p>
        </div>
        <div>
            <img src="{% static 'img/icon-trading.png' %}">
            <p>GENERAL TRADING</p>
        </div>
        <div>
            <img src="{% static 'img/icon-assistance.png' %}">
            <p>TECHNICAL ASSISTANCE SYSTEM</p>
        </div>
    </div>
</div>
<div class="box company-testimoni">
    <h5 class="text-uppercase">Testimoni</h5>
    <div>
        {% for t in testimoni %}
        {% if forloop.counter == 1 %}
        <div class="frame-{{ forloop.counter }} selected" onclick="testimoni({{ forloop.counter }})">
            <img src="{{ t.foto.url }}">
        </div>
        {% else %}
        <div class="frame-{{ forloop.counter }}" onclick="testimoni({{ forloop.counter }})">
            <img src="{{ t.foto.url }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% for t in testimoni %}
    {% if forloop.counter == 1 %}
    <p class="position person-{{ forloop.counter }} selected">{{ t.nama }} - {{ t.jabatan }}</p>
    <p class="person-{{ forloop.counter }} selected">{{ t.deskripsi }}</p>
    {% else %}
    <p class="position person-{{ forloop.counter }}">{{ t.nama }} - {{ t.jabatan }}</p>
    <p class="person-{{ forloop.counter }}">{{ t.deskripsi }}</p>
    {% endif %}
    {% endfor %}
</div>
<div class="row box company-gallery">
    <div class="col-md-8 slider">
        {% for fg in foto_galeri %}
        <div>
            <img height="350px" src="{{ fg.foto.url }}">
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h5 class="text-uppercase">Galeri Kegiatan</h5>
        <div class="slider-desc">
        {% for fg in foto_galeri %}
            <p>{{ fg.deskripsi }}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $('.slider').slick({
        infinite: true,
        autoplay: true,
        dots: false,
        asNavFor: '.slider-desc',
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    infinite: true,
                    dots: true,
                    arrows: false,
                },
                breakpoint: 992,
                settings: {
                    infinite: true,
                    dots: false,
                    arrows: false,
                },
            },
        ],
    });
    $('.slider-desc').slick({
        infinite: true,
        arrows: false,
        dots: false,
        asNavFor: '.slider',
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    infinite: true,
                    dots: false,
                    arrows: false,
                },
                breakpoint: 992,
                settings: {
                    infinite: true,
                    dots: false,
                    arrows: false,
                },
            },
        ],
    });
    function testimoni(id) {
        $('.company-testimoni > div div').removeClass('selected');
        $('.company-testimoni p').removeClass('selected');
        $('.company-testimoni div.frame-'+id).addClass('selected');
        $('.company-testimoni p.person-'+id).addClass('selected');
    }
</script>
{% endblock %}