{% extends "base_compro.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profil-petinggi.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-img">
    <img src="{{ hero_img.gambar.url }}">
    </div>
    <div class="box long-desc" id="deskripsi">
        <h5 class="text-uppercase">Deskripsi Lengkap Perusahaan</h5>
        <p>{{ deskripsi_lengkap.deskripsi|linebreaksbr }}</p>
    </div>
    <div class="box visi-misi" id="visiMisi">
        <h5 class="text-uppercase">Visi Misi Perusahaan</h5>
        <div>
            <h5 class="text-uppercase">Visi</h5>
            {% if visi %}
                <p>{{ visi.deskripsi|linebreaksbr }}</p>
            {% endif %}
            <h5 class="text-uppercase">Misi</h5>
            {% if misi %}
                <p>{{ misi.deskripsi|linebreaksbr }}</p>
            {% endif %}
        </div>
    </div>
    <div class="box struktur-organisasi" id="strukturOrganisasi">
        <h5 class="text-uppercase">Struktur Organisasi</h5>
        <div>
            {% if struktur_organisasi %}
            <img src="{{ struktur_organisasi.gambar.url }}">
            {% endif %}
        </div>
    </div>
    <div class="box profil-petinggi" id="profil">
        <h5 class="text-uppercase">Profil Petinggi</h5>
        <div>
            {% for profil in profil_petinggi %}
                <div class="card"
                     onclick="popup('{{ profil.foto.url }}', '{{ profil.nama }}', '{{ profil.jabatan }}', '{{ profil.deskripsi }}')">
                    <img class="card-img-top" src="{{ profil.foto.url }}">
                    <div class="card-body">
                        <p class="card-title">{{ profil.nama }}</p>
                        <p class="card-text">{{ profil.jabatan }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4></h4>
                    <span class="closebtn">&times;</span>
                </div>
                <br>
                <div class="row modal-body">
                    <div class="col-md-4">
                        <img id="imgModal" width="200px" height="250px">
                        <div>
                            <p id="namaModal" class="card-title"></p>
                            <p id="jabatanModal" class="card-text"></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h5 class="text-uppercase">Profil</h5>
                        <p id="profilModal"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
    function popup(urlFoto, nama, jabatan, deskripsi) {
        var modal = document.getElementById('myModal');
        modal.style.setProperty("display", "block", "important");
        $('#imgModal').attr('src', urlFoto);
        $('#namaModal').text(nama);
        $('#jabatanModal').text(jabatan);
        $('#profilModal').text(deskripsi);
        var span = document.getElementsByClassName("closebtn")[0];
        span.onclick = function () {
            modal.style.setProperty("display", "none", "important");
        };
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.setProperty("display", "none", "important");
            }
        }
    }
    </script>
{% endblock %}