{% extends "base.html" %}
{% block content %}
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <div>
        <img style="width: 100vw;" src="https://i.ibb.co/4VWFYZX/error-image-web-1x.png" alt="error-image-web-1x"
          border="0">
      </div>
      {% if request.user.access == 'hrd' %}
      <h3>Anda sebagai {{request.user.access|upper}} Tidak memiliki akses untuk memasuki halaman khusus FINANCE</h3>
      <button class="button warning" onclick="location= '/admin/dashboard/staff'">Kembali ke beranda</button>
      {% elif request.user.access == 'finance' %}
      <h3>Anda sebagai {{request.user.access|upper}} Tidak memiliki akses untuk memasuki halaman khusus HRD</h3>
      <button class="button warning" onclick="location= '/admin/dashboard/payroll'">Kembali ke beranda</button>
      {% else %}
      <h3>Anda sebagai STAFF Tidak memiliki akses untuk memasuki halaman ADMIN</h3>
      <button class="button warning" onclick="location= '/pegawai/'">Kembali ke beranda</button>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}