{% extends "base.html" %}
{% block content %}
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <div>
        <img src="https://i.ibb.co/4VWFYZX/error-image-web-1x.png" alt="error-image-web-1x" border="0">
      </div>
      {% if request.user.access == 'hrd' %}
      <h4><a href="/admin/dashboard/staff">Kembali ke beranda</a></h4>
      {% elif request.user.access == 'finance' %}
      <h4><a href="/admin/dashboard/payroll">Kembali ke beranda</a></h4>
      {% else %}
      <h4><a href="/profile">Kembali ke beranda</a></h4>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}