{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        {% block title %} {% endblock %}
    </title>
    <meta name="author" content="Ican">
    <meta name="description" content="Mizushima Payroll System">
    <meta name="keywords" content="Mizushima Payroll">
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/QdjBrPK/fav-ico.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>

<body>
    {% block sidebar %}
    {% include 'partials/sidebar.html' %}
    {% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
        </container>
        <button id="toggler" class="button square pos-fixed pos-top-left sidebar-toggle-4"
            style="background-color: #5A9DB1">
            <span class="mif-arrow-right mif-2x fg-white"></span>
        </button>
</body>
<footer>
    {% block footer %} {% endblock %}
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
{% comment %}
<script type="text/javascript" src="{% static '/datatables.min.js' %}"></script> {% endcomment %}
{% comment %}
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> {% endcomment %}
{% comment %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> {% endcomment %}

<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


{% block js %}

{% endblock %}
<script>
    $(document).ready(function (e) {
        $('#toggler').click();
    });
</script>

</html>