{% extends "base_compro.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/karir.css' %}">
{% endblock %}

{% block content %}
<div class="hero-img">
    <img src="{{ hero_img.gambar.url }}">
</div>
<div class="karir">
    <h4 class="text-uppercase">Karir</h4>
    <p>{{ info_karir.deskripsi|linebreaksbr }}</p>
</div>
{% endblock %}

{% block script %}

{% endblock %}