{% extends "base_compro.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/kebijakan-mutu.css' %}">
{% endblock %}

{% block content %}
<div class="hero-img">
    <img src="{{ hero_img.gambar.url }}">
</div>
<div class="kebijakan-mutu">
    <h4 class="text-uppercase">Kebijakan Mutu dan K3</h4>
    <p>{{ kebijakan_mutu.deskripsi|linebreaksbr }}</p>
</div>
{% endblock %}

{% block script %}

{% endblock %}