{% extends "base.html" %}
{% block content %}
<style>
  input:read-only,
  input:read-only+.button-group {
    background-color: #E9E9E9;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Payroll</p>
    </section>
    <section>
      <form method="POST" action="/admin/add/payroll/">
        <div class="select-dept">
          <div class="row mt-3 pl-3">
            <a onclick="Metro.dialog.open('#cancel-confirmation')">
              <li class="button alert">Batal</li>
            </a>
            <div class="dialog" id="cancel-confirmation" data-role="dialog">
              <div class="dialog-title">Logout</div>
              <div class="dialog-content">
                Anda yakin ingin membatalkan operasi ini
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Lanjutkan</button>
                <button class="button alert" onclick="location = '/admin/payroll/'">
                  Batalkan
                </button>
              </div>
            </div>
            <button class="button success">
              <i class="fa fa-save"></i> Simpan
            </button>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>No Pegawai </p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nopeg" placeholder="No Pegawai" required />
              </div>
            </div>
          </div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Bulan </p>
              </div>
              <div class="cell-lg-6">
                <select name="bulan">
                  <option val="{{ bulan }}" selected>{{ bulan }}</option>
                  {% for month in months %}
                  <option val="{{ month }}"> {{ month }} </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6"></div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Jenis Payroll </p>
              </div>
              <div class="cell-lg-6">
                <select id="jenisFilter" name="jenis">
                  <option value="Gaji Bulanan" {% if tipe == 'Gaji Bulanan' %} selected {% endif %}>Gaji Bulanan
                  </option>
                  <option value="THR" {% if tipe == 'THR' %} selected {% endif %}>THR</option>
                  <option value="Bonus" {% if tipe == 'Bonus' %} selected {% endif %}>Bonus</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Gaji Pokok :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="gaji_pokok" placeholder="Gaji Pokok" required />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Potongan Absen :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="potongan_absen" placeholder="Potongan Absen" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Lembur :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="lembur" placeholder="Lembur" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>THR :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="thr" placeholder="THR" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Rapel :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="rapel" placeholder="Rapel" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Bonus :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="bonus" placeholder="Bonus" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Uang Makan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="uang_makan" placeholder="Uang Makan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan Jabatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_jabatan" placeholder="Tunjangan Jabatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Seniority : </p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="seniority" placeholder="Seniority" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Transport :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="transport" placeholder="Transport" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan Keluarga :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_keluarga" placeholder="Tunjangan Keluarga" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan Shift :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_shift" placeholder="Tunjangan Shift" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan Kehadiran :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_kehadiran" placeholder="Tunjangan Kehadiran" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan Lainnya :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_lainnya" placeholder="Tunjangan Lainnya" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tunjangan PPh 21 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tunjangan_pph_21" placeholder="Tunjangan PPh 21" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Gaji Bruto :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="gaji_bruto" placeholder="Gaji Bruto" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Salary Exclude OT :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="salary_exclude_ot" placeholder="Salary Exclude OT" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>PPh 21 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pph_21" placeholder="PPh 21" />
              </div>
            </div>
          </div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Astek JP :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="astek_jp" placeholder="Astek JP" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>BPJS Kesehatan 1% :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="bpjs_kesehatan_1" placeholder="BPJS Kesehatan 1%" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>BPJS Kesehatan 4% :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="bpjs_kesehatan_4" placeholder="BPJS Kesehatan 4%" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Asuransi JKK JKM :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="asuransi_jkk_jkm" placeholder="Asuransi JKK JKM" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Iuran SPSI :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="iuran_spsi" placeholder="Iuran SPSI" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Potongan Lainnya :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="potongan_lainnya" placeholder="Potongan Lainnya" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Total Potongan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="total_potongan" placeholder="Total Potongan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Gaji Netto :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="gaji_netto" placeholder="Gaji Netto" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Rekening :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_rekening" placeholder="Nomor Rekening" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Bank :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="bank" placeholder="Bank" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Gaji Netto Tempat Sebelumnya :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="gaji_netto_sebelum"
                  placeholder="Gaji Netto Tempat Sebelumnya" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Pph 21 Tempat Sebelumnya :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pph_21_sebelum" placeholder="Pph 21 Tempat Sebelumnya" />
              </div>
            </div>
          </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}
<script>

  var cores = ['nopeg', 'tunjangan_pph_21', 'gaji_bruto', 'salary_exclude_ot', 'pph_21', 'total_potongan', 'gaji_netto', 'nomor_rekening', 'bank']
  var thr = ['thr']
  var bonus = ['bonus']
  var gaji_bulanan = ['nopeg', 'gaji_pokok']

  $('#jenisFilter').change(function () {
    var jenis = $('#jenisFilter option:selected').val();
    switch (jenis) {
      case 'Gaji Bulanan':
        resetInput();
        requiredInput(gaji_bulanan)
        break;
      case 'THR':
        resetInput();
        readOnlyInput(thr.concat(cores))
        break;
      case 'Bonus':
        resetInput();
        readOnlyInput(bonus.concat(cores))
        break;
      default:
        resetInput();
        requiredInput(gaji_bulanan)
        break;
    }
  })

  function resetInput() {
    $('input').each(function () {
      $(this).prop("readonly", false);
      $(this).prop("required", false);
    });
  }

  function requiredInput(list) {
    $('input').each(function () {
      var name = $(this).attr("name")
      if (list.includes(name)) {
        $(this).prop("required", true);
      }
    });
  }

  function readOnlyInput(list) {
    $('input').each(function () {
      var name = $(this).attr("name")

      if (name == 'nopeg') {
        $(this).prop("required", true);
      }

      if (!list.includes(name)) {
        $(this).prop("readonly", true);
      }

    });
  }



</script>
{% endblock %}