{% load custom_filter %}
{% load static %}
{% load staticfiles %}

<html>

<head>
  <style>
    @page {
      size: A5;
      margin: 1cm;
    }

    body {
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    table {
      margin-top: 15px;
    }

    span {
      font-size: 12px;
      font-weight: bold;
    }

    /* .component {} */
  </style>
</head>

<body>
  {% for p in payroll %}
  <div class="page">
    <div class="content_body">
      <table>
        <tr>
          <td>
            <span>
              PT. MISHUZIMA METAL WORKS INDONESIA
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              KARAWANG
            </span>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td></td>
          <td align="center">BULAN : {{ p.bulan | upper }}</td>
          <td></td>
        </tr>
      </table>
      <table>
        <tr>
          <td>NOPEG</td>
          <td>{{ p.staff.nopeg }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>N.I.K</td>
          <td>{{ p.staff.nik }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>DEPARTEMEN</td>
          <td>{{ p.staff.dept }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>GOLONGAN</td>
          <td>{{ p.staff.dept_code }}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <table>
        <tr>
          <td>NAMA</td>
          <td>{{ p.staff.nama_pegawai | truncate }}</td>
          <td>STATUS</td>
          <td>{{ p.staff.status_pajak}}</td>
        </tr>
      </table>
      <table class="component">
        <tr>
          <td>GAJI POKOK</td>
          <td align="right">{{ p.gaji_pokok | round_rupiah }}</td>
        </tr>
        <tr>
          <td>POTONGAN ABSEN</td>
          <td align="right">{{ p.potongan_absen | round_rupiah }}</td>
        </tr>
        <tr>
          <td>LEMBUR</td>
          <td align="right">{{ p.lembur | round_rupiah }}</td>
        </tr>
        <tr>
          <td>THR</td>
          <td align="right">{{ p.thr | round_rupiah }}</td>
        </tr>
        <tr>
          <td>RAPEL</td>
          <td align="right">{{ p.rapel | round_rupiah }}</td>
        </tr>
        <tr>
          <td>BONUS</td>
          <td align="right">{{ p.bonus | round_rupiah }}</td>
        </tr>
        <tr>
          <td>UANG MAKAN</td>
          <td align="right">{{ p.uang_makan | round_rupiah }}</td>
        </tr>
        <tr>
          <td>T. JABATAN</td>
          <td align="right">{{ p.tunjangan_jabatan | round_rupiah }}</td>
        </tr>
        <tr>
          <td>SENIORITY</td>
          <td align="right">{{ p.seniority | round_rupiah }}</td>
        </tr>
        <tr>
          <td>TRANSPORT</td>
          <td align="right">{{ p.transport | round_rupiah }}</td>
        </tr>
        <tr>
          <td>T. KELUARGA</td>
          <td align="right">{{ p.tunjangan_keluarga | round_rupiah }}</td>
        </tr>
        <tr>
          <td>T. SHIFT</td>
          <td align="right">{{ p.tunjangan_shift| round_rupiah }}</td>
        </tr>
        <tr>
          <td>T. KEHADIRAN</td>
          <td align="right">{{ p.tunjangan_kehadiran | round_rupiah }}</td>
        </tr>
        <tr>
          <td>BPJS 4%</td>
          <td align="right">{{ p.bpjs_kesehatan_4 | round_rupiah }}</td>
        </tr>
        <tr>
          <td>ASURANSI JKK & JKM 1,19%</td>
          <td align="right">{{ p.asuransi_jkk_jkm | round_rupiah }}</td>
        </tr>
        <tr>
          <td>TUNJANGAN LAINNYA</td>
          <td align="right">{{ p.tunjangan_lainnya | round_rupiah }}</td>
        </tr>
        <tr>
          <td>TUNJANGAN PPH 21</td>
          <td align="right">{{ p.tunjangan_pph_21 | round_rupiah }}</td>
        </tr>
        <tr>
          <td>GAJI BRUTO</td>
          <td align="right">{{ p.gaji_bruto | round_rupiah }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td><b>POTONGAN</b></td>
          <td></td>
        </tr>
        <tr>
          <td>PPh PASAL 21 PER BULAN</td>
          <td align="right">{{ p.pph_21 | round_rupiah }}</td>
        </tr>
        <tr>
          <td>ASTEK JP 0,03%</td>
          <td align="right">{{ p.astek_jp | round_rupiah }}</td>
        </tr>
        <tr>
          <td>BPJS KES 1%</td>
          <td align="right">{{ p.bpjs_kesehatan_1 | round_rupiah }}</td>
        </tr>
        <tr>
          <td>BPJS KES 4%</td>
          <td align="right">{{ p.bpjs_kesehatan_4 | round_rupiah }}</td>
        </tr>
        <tr>
          <td>ASURANSI JKK & JKM 1,19%</td>
          <td align="right">{{ p.asuransi_jkk_jkm | round_rupiah }}</td>
        </tr>
        <tr>
          <td>IURAN SPSI</td>
          <td align="right">{{ p.iuran_spsi | round_rupiah }}</td>
        </tr>
        <tr>
          <td>POTONGAN LAINNYA</td>
          <td align="right">{{ p.potongan_lainnya | round_rupiah }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td><b>GAJI NETTO</b></td>
          <td align="right">{{ p.gaji_netto | round_rupiah }}</td>
        </tr>
      </table>
      <table class="signature">
        <tr>
          <td align="right">
            <b>
              Karawang, {{date|date:"d M Y"}}
            </b>
          </td>
        </tr>
        <tr>
          <td align="right">
            <b>Yang Menerima</b>
          </td>
        </tr>
        <tr style="padding-top: 15px;">
          <td align="right">
            <b>{{ p.staff.nama_pegawai | truncate }}</b>
          </td>
        </tr>
      </table>
    </div>
    <!-- <div id="footer_content">
      {{p.bulan}} - page <pdf:pagenumber> of <pdf:pagecount>
    </div> -->
    {% endfor %}
</body>

</html>