{% extends "base.html" %}
{% load custom_filter %}


{% block content %}
<style>
    select {
        background-color: #5a9db1 !important;
        border-radius: 5px;
        border-color: #5a9db1;
        border-style: solid;
        color: rgb(255, 255, 255);
    }

    .publish {
        background-color: #5a9db1;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        width: 120px;
        float: right;
    }

    .crud-button {
        width: 75px;
    }

    .slip-header {
        border: 1px solid #000000;
        text-align: center;
    }

    .slip-title {
        border: 1px solid #000000;
        text-align: center;
    }

    .slip-identity {
        border: 1px solid #000000;
    }

    hr {
        border: 1px solid #000000;
        background-color: unset;
    }

    .detail-nama {
        line-height: 0.5;
    }

    .detail-head {
        background-color: #dff0d8;
        border: 1px solid #c7d6c1;
    }

    .detail-body {
        border: 1px solid #c7d6c1;
    }

    .pdf {
        width: 50vw;
        padding-left: 20px;
        border: 1px solid black;
    }

    .row {
        padding: 10px;
    }

    :disabled {
        color: black !important;
    }
</style>
<div class="shifted-content-2 h-100 p-ab">
    <div class="loader"></div>
    <div id="payroll" class="h-100 p-4">
        <section class="mb-10">
            <p class="h1">{% if type == 'detail' %} Detail {% else %} Slip {% endif %} Payroll
                {{ payroll.staff.nama_pegawai | title }}</p>
        </section>
        {% if type == 'detail' %}
        <section>
            <div>
                <div class="select-dept">
                    <div class="status">
                        <h5>Status : {{ payroll.status }} </h5>
                        <h5>Tanggal : {{ payroll.bulan }} </h5>
                        <h5>Jenis Payroll : {{ payroll.tipe }} </h5>
                    </div>
                    <div class="row mt-3 pl-3">
                        <button class="button alert" onclick="location = '/admin/payroll/'">
                            Kembali
                        </button>
                        {% if payroll.status != 'Published' %}
                        <button class="button info"
                            onclick="location = '/admin/payroll/edit/{{payroll.staff.nopeg}}/{{payroll.bulan}}/{{tipe}}/'">
                            <i class="fa fa-pencil-alt"></i> Edit
                        </button>
                        {% endif %}
                    </div>
                </div>
                <ul data-cls-tabs="flex-justify-start" data-role="tabs" data-expand="true">
                    <li><a href="#_target_1">Data Payroll</a></li>
                    <li><a href="#_target_2">Data PPh 21</a></li>
                </ul>
                <div class="border bd-default no-border-top p-2">
                    <div id="_target_1">
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>No Pegawai </p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="nopeg"
                                            data-default-value="{{ payroll.staff.nopeg  }}" placeholder="No Pegawai"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Gaji Pokok :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="gaji_pokok"
                                            data-default-value="{{ payroll.gaji_pokok | rupiah  }}"
                                            placeholder="Gaji Pokok" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Potongan Absen :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.potongan_absen | rupiah  }}"
                                            name="potongan_absen" placeholder="Potongan Absen" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Lembur :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="lembur"
                                            data-default-value="{{ payroll.lembur | rupiah  }}" placeholder="Lembur"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>THR :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="thr"
                                            data-default-value="{{ payroll.thr | rupiah  }}" placeholder="THR"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Rapel :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="rapel"
                                            data-default-value="{{ payroll.rapel | rupiah  }}" placeholder="Rapel"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Uang Makan :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="uang_makan"
                                            data-default-value="{{ payroll.uang_makan | rupiah  }}"
                                            placeholder="Uang Makan" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Bonus :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="bonus"
                                            data-default-value="{{ payroll.bonus | rupiah  }}" placeholder="Bonus"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Jabatan : </p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_jabatan"
                                            data-default-value="{{ payroll.tunjangan_jabatan | rupiah  }}"
                                            placeholder="Tunjangan Jabatan" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Seniority :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="seniority"
                                            data-default-value="{{ payroll.seniority | rupiah  }}"
                                            placeholder="Seniority" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Transport :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="transport"
                                            data-default-value="{{ payroll.transport | rupiah  }}"
                                            placeholder="Transport" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Keluarga :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_keluarga"
                                            data-default-value="{{ payroll.tunjangan_keluarga | rupiah  }}"
                                            placeholder="Tunjangan Keluarga" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Shift :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_shift"
                                            data-default-value="{{ payroll.tunjangan_shift | rupiah  }}"
                                            placeholder="Tunjangan Shift" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Kehadiran :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_kehadiran"
                                            data-default-value="{{ payroll.tunjangan_kehadiran | rupiah  }}"
                                            placeholder="Tunjangan Kehadiran" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Lainnya :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_lainnya"
                                            data-default-value="{{ payroll.tunjangan_lainnya | rupiah  }}"
                                            placeholder="Tunjangan Lainnya" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan PPh 21 :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tunjangan_pph_21"
                                            data-default-value="{{ payroll.tunjangan_pph_21 | rupiah  }}"
                                            placeholder="Tunjangan PPh 21" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Gaji Bruto :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="gaji_bruto"
                                            data-default-value="{{ payroll.gaji_bruto | rupiah  }}"
                                            placeholder="Gaji Bruto" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Salary Exclude OT :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="salary_exclude_ot"
                                            data-default-value="{{ payroll.salary_exclude_ot | rupiah  }}"
                                            placeholder="Salary Exclude OT" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="pph_21"
                                            data-default-value="{{ payroll.pph_21 | rupiah  }}" placeholder="PPh 21"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Astek JP :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="astek_jp"
                                            data-default-value="{{ payroll.astek_jp | rupiah  }}" placeholder="Astek JP"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>BPJS Kesehatan 1% :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="bpjs_kesehatan_1"
                                            data-default-value="{{ payroll.bpjs_kesehatan_1 | rupiah  }}"
                                            placeholder="BPJS Kesehatan 1%" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>BPJS Kesehatan 4% :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="bpjs_kesehatan_4"
                                            data-default-value="{{ payroll.bpjs_kesehatan_4 | rupiah  }}"
                                            placeholder="BPJS Kesehatan 4%" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Asuransi JKK JKM :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="asuransi_jkk_jkm"
                                            data-default-value="{{ payroll.asuransi_jkk_jkm | rupiah  }}"
                                            placeholder="Asuransi JKK JKM" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Iuran SPSI :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="iuran_spsi"
                                            data-default-value="{{ payroll.iuran_spsi | rupiah  }}"
                                            placeholder="Iuran SPSI" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Potongan Lainnya :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="potongan_lainnya"
                                            data-default-value="{{ payroll.potongan_lainnya | rupiah  }}"
                                            placeholder="Potongan Lainnya" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Total Potongan :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="total_potongan"
                                            data-default-value="{{ payroll.total_potongan | rupiah  }}"
                                            placeholder="Total Potongan" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Gaji Netto :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="gaji_netto"
                                            data-default-value="{{ payroll.gaji_netto | rupiah  }}"
                                            placeholder="Gaji Netto" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Nomor Rekening :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="nomor_rekening"
                                            data-default-value="{{ payroll.nomor_rekening }}"
                                            placeholder="Nomor Rekening" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Bank :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="bank"
                                            data-default-value="{{ payroll.bank }}" placeholder="Bank" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Gaji Netto Tempat Sebelumnya:</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="gaji_netto_sebelum"
                                            data-default-value="{{ payroll.gaji_netto_sebelum }}"
                                            placeholder="Gaji Netto Tempat Sebelumnya" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Tempat Sebelumnya :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="pph_21_sebelum"
                                            data-default-value="{{ payroll.pph_21_sebelum }}"
                                            placeholder="PPh 21 Tempat Sebelumnya" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="_target_2">
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>NPWP :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="npwp"
                                            data-default-value="{{ payroll.staff.npwp }}" placeholder="NPWP" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Status Pajak :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="status_pajak"
                                            data-default-value="{{ payroll.staff.status_pajak }}"
                                            placeholder="Status Pajak" disabled>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Perbulan Sistem :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tax_pph_21_perbulan_sistem"
                                            data-default-value="{{ payroll.tax_pph_21_perbulan_sistem | rupiah  }}"
                                            placeholder="PPh 21 Perbulan Sistem" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Basis Gaji :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="basis_gaji"
                                            data-default-value="{{ payroll.staff.basis_gaji }}" placeholder="Basis Gaji"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Penghitung PPh 21 :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <select data-role="select" name="penghitung_pph_21" disabled>
                                            <option value="{{ payroll.penghitung_pph_21 }}" selected='selected'>
                                                {{ payroll.penghitung_pph_21 }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Perbulan Dipilih :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input" name="tax_pph_21_perbulan_manual"
                                            data-default-value="{{ payroll.tax_pph_21_perbulan_manual | rupiah  }}"
                                            placeholder="PPh 21 Perbulan Dipilih" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Rincian perhitungan PPh 21</h3>
                        <hr />
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Gaji Pokok :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_gaji_pokok | rupiah  }}"
                                            placeholder="Gaji Pokok" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Pajak :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tunjangan_pph_21 | rupiah  }}"
                                            placeholder="Tunjangan Pajak" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Tunjangan Lain/Lembur :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_tunjangan_lain | rupiah  }}"
                                            placeholder="Tunjangan Lain/Lembur" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Asuransi :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_asuransi | rupiah  }}"
                                            placeholder="Asuransi" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>THR :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_thr | rupiah  }}" placeholder="THR"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Bonus :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_bonus | rupiah  }}" placeholder="Bonus"
                                            disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P.Bruto - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_penghasilan_bruto_reg | rupiah  }}"
                                            placeholder="P.Bruto - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P.Bruto - IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_penghasilan_bruto_irreg | rupiah  }}"
                                            placeholder="P.Bruto - IRREG" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Biaya Jabatan - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_biaya_jabatan_reg | rupiah  }}"
                                            placeholder="Biaya Jabatan - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Biaya Jabatan - IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_biaya_jabatan_irreg | rupiah  }}"
                                            placeholder="Biaya Jabatan - IRREG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Iuran Pensiun :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_iuran_pensiun | rupiah  }}"
                                            placeholder="Iuran Pensiun" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PTKP :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_ptkp | rupiah  }}" placeholder="PTKP"
                                            disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P. Netto Sebulan - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_penghasilan_netto_perbulan_reg | rupiah  }}"
                                            placeholder="P. Netto Sebulan - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P. Netto Setahun - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_penghasilan_netto_pertahun_reg | rupiah  }}"
                                            placeholder="P. Netto Setahun - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P. Netto - TEMPAT SEBELUMNYA :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.gaji_netto_sebelum | rupiah  }}"
                                            placeholder="P. Netto - TEMPAT SEBELUMNYA" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>P. Netto Setahun - IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_penghasilan_netto_pertahun_irreg  | rupiah  }}"
                                            placeholder="P. Netto Setahun - IRREG" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PKP - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pkp_reg | rupiah  }}"
                                            placeholder="PKP - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PKP - REG & IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pkp_reg_irreg | rupiah  }}"
                                            placeholder="PKP - REG & IRREG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Setahun - REG & IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pph_21_pertahun_reg_irreg | rupiah  }}"
                                            placeholder="PPh 21 Setahun - REG & IRREG" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Setahun - REG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pph_21_pertahun_reg | rupiah  }}"
                                            placeholder="PPh 21 Setahun - REG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Setahun - IRREG :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pph_21_pertahun_irreg | rupiah  }}"
                                            placeholder="PPh 21 Setahun - IRREG" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 - TEMPAT SEBELUMNYA:</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.pph_21_sebelum | rupiah  }}"
                                            placeholder="PPh 21 - TEMPAT SEBELUMNYA" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-3 pl-3">
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Setahun - ALL :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pph_21_pertahun_all | rupiah  }}"
                                            placeholder="PPh 21 Setahun - ALL" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>PPh 21 Perbulan - ALL :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_pph_21_perbulan_all | rupiah  }}"
                                            placeholder="PPh 21 Perbulan - ALL" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="cell-lg-6">
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Total PPh 21 FIX Bulan Lalu :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_total_pph_21_fixed_sebelum | rupiah  }}"
                                            placeholder="Total PPh 21 FIX Bulan Lalu" disabled />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="cell-lg-5">
                                        <p>Adjustment Bulan Terakhir :</p>
                                    </div>
                                    <div class="cell-lg-6">
                                        <input type="text" data-role="input"
                                            data-default-value="{{ payroll.tax_adjustment_pph_21 | rupiah  }}"
                                            placeholder="Adjustment Bulan Terakhir" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        {% else %}
        <div class="py-4">
            <button class="button alert" onclick="location = '/admin/payroll/'">
                Kembali
            </button>
        </div>
        <div class="pdf">
            <div class="row">
                <div class="cell-lg-12">
                    <p>PT. MISHUZIMA METAL WORKS INDONESIA</p>
                    <p>KARAWANG</p>
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-4"></div>
                <div class="cell-lg-4">
                    <span class="text-center">BULAN : {{ payroll.bulan|upper }}</span>
                </div>
                <div class="cell-lg-4"></div>
            </div>
            <div class="row">
                <div class="cell-lg-4">
                    <p>NOPEG</p>
                    <p>NIK</p>
                    <p>DEPARTEMEN</p>
                    <p>GOLONGAN</p>
                </div>
                <div class="cell-lg-8">
                    <p>{{ payroll.staff.nopeg }}</p>
                    <p>{{ payroll.staff.nik }}</p>
                    <p>{{ payroll.staff.dept }}</p>
                    <p>{{ payroll.staff.dept_code }}</p>
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-3">
                    NAMA
                </div>
                <div class="cell-lg-3">
                    {{ payroll.staff.nama_pegawai}}
                </div>
                <div class="cell-lg-3">
                    STATUS
                </div>
                <div class="cell-lg-3">
                    {{ payroll.staff.status_pajak}}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    GAJI POKOK
                </div>
                <div class="cell-lg-4">
                    {{ payroll.gaji_pokok | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    POTONGAN ABSEN
                </div>
                <div class="cell-lg-4">
                    {{ payroll.potongan_absen | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    LEMBUR
                </div>
                <div class="cell-lg-4">
                    {{ payroll.lembur | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    THR
                </div>
                <div class="cell-lg-4">
                    {{ payroll.thr | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    RAPEL
                </div>
                <div class="cell-lg-4">
                    {{ payroll.rapel | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    BONUS
                </div>
                <div class="cell-lg-4">
                    {{ payroll.bonus | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    U. MAKAN
                </div>
                <div class="cell-lg-4">
                    {{ payroll.uang_makan | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    T. JABATAN
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_jabatan | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    SENIORITY
                </div>
                <div class="cell-lg-4">
                    {{ payroll.seniority | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    TRANSPORT
                </div>
                <div class="cell-lg-4">
                    {{ payroll.transport | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    T. KELUARGA
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_keluarga | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    T. SHIFT
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_shift | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    P. KEHADIRAN
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_kehadiran | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    BPJS 4%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.bpjs_kesehatan_4 | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    ASURANSI JKK & JKM 1,19%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.asuransi_jkk_jkm | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    TUNJANGAN LAINNYA
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_lainnya | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    TUNJANGAN PPH 21
                </div>
                <div class="cell-lg-4">
                    {{ payroll.tunjangan_pph_21 | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    GAJI BRUTO
                </div>
                <div class="cell-lg-4">
                    {{ payroll.gaji_bruto | round_rupiah  }}
                </div>
            </div>
            <br>
            <div class="row">
                POTONGAN
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    PPH 21 PER BULAN
                </div>
                <div class="cell-lg-4">
                    {{ payroll.pph_21 | round_rupiah  }}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    ASTEK JP 0,03%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.astek_jp | round_rupiah  }}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    BPJS KES 1%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.bpjs_kesehatan_1 | round_rupiah  }}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    BPJS KES 4%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.bpjs_kesehatan_4 | round_rupiah  }}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    ASURANSI JKK & JKM 1,19%
                </div>
                <div class="cell-lg-4">
                    {{ payroll.asuransi_jkk_jkm | round_rupiah  }}
                </div>
            </div>

            <div class="row">
                <div class="cell-lg-8">
                    IURAN SPSI
                </div>
                <div class="cell-lg-4">
                    {{ payroll.iuran_spsi | round_rupiah  }}
                </div>
            </div>
            <div class="row">
                <div class="cell-lg-8">
                    POTONGAN LAINNYA
                </div>
                <div class="cell-lg-4">
                    {{ payroll.potongan_lainnya | round_rupiah  }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="cell-lg-8">
                    GAJI NETTO
                </div>
                <div class="cell-lg-4">
                    {{ payroll.gaji_netto | round_rupiah  }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="cell-lg-8"></div>
                <div class="cell-lg-4">KARAWANG, {{ payroll.bulan }}</div>
            </div>
            <div class="row">
                <div class="cell-lg-8"></div>
                <div class="cell-lg-4">Yang Menerima</div>
            </div>
            <br>
            <div class="row">
                <div class="cell-lg-8"></div>
                <div class="cell-lg-4">{{ payroll.staff.nama_pegawai | truncate }}</div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}