{% extends "base.html" %}
{% block content %}
<style>
  body {
    background-color: #f9f9f9;
    color: #666666;
  }

  .base {
    display: block;
    text-align: center;
    margin: 5% auto;
  }

  .company-logo {
    height: 7%;
    width: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .company-name {
    margin: 0;
    font-size: 15px;
  }

  .login-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
  }

  .form-group input {
    height: 50px;
  }

  .form-group {
    font-size: 15px;
  }

  .btn-masuk {
    height: 50px;
    width: 250px;
    background-color: #417e91;
    color: white;
  }

  @media only screen and (max-width: 768px) {
    .base {
      margin: 25% auto;
    }

  }
</style>
</head>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Hak Akses</p>
    </section>
    <section>
      <table class="table">
        <thead>
          <th>Username</th>
          <th>Password</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {% for profile in profiles %}
          <tr>
            <td>{{ profile.username }}</td>
            <td>{{ profile.password }}</td>
            <td>{{ profile.access }}</td>
            <td><button class="button info" onclick="location = '/admin/edit/profile/{{profile.pk}}'">Edit</td>
            <td><a class="button warning" onclick="return confirm('Are you sure you want to delete?')"
                href="/admin/delete/profile/{{profile.pk}}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>

<script>

</script>
{% endblock %}