{% extends "base.html" %} 
{% block content %}
    <style>
            body {
              background-color: #f9f9f9;
              color: #666666;
            }
      
            .base {
              display: block;
              text-align: center;
              margin: 5% auto;
            }
      
            .company-logo {
              height: 7%;
              width: 7%;
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 5px;
            }
      
            .company-name {
              margin: 0;
              font-size: 15px;
            }
      
            .login-form {
              display: inline-block;
              margin-left: auto;
              margin-right: auto;
              margin-top: 20px;
              text-align: left;
            }
      
            .form-group input {
              height: 50px;
            }
      
            .form-group {
              font-size: 15px;
            }
      
            .btn-masuk {
              height: 50px;
              width: 250px;
              background-color: #417e91;
              color: white;
            }
      
            @media only screen and (max-width: 768px) {
              .base {
                margin: 25% auto;
              }
      
            }
          </style>
  </head>

    <div class="base">
      <p class="text-center company-name">Tambah Akses Pegawai</p>
      <form class="login-form" action="/admin/profile/add/" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
            />
        </div>
        <div class="form-group">
          <label for="password">Kata Sandi</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Kata Sandi"
            required
          />
        </div>
        <div class="form-group mb-5">
            <label for="role">Hak Akses</label>
            <select name="role" class="form-control" required>
                <option value="" selected hidden disabled>Pilih Role</option>
                <option value="hrd" >HRD</option>
                <option value="finance" >Finance</option>
            </select>
        </div>
        <button class="btn btn-masuk">Tambah</button>
      </form>
    </div>

{% endblock %}
