
{% load index %}
{% load js %}

<style>
    .submit {
      float: right;
      width: 150px;
      margin: 75px;
    }
  </style>

<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Apakah anda ingin mengganti data pada sistem?</p>
      <p class="h6">Sudah terdapat data pegawai sama di dalam sistem. Silahkan beri tanda checklist pada data yang ingin anda ubah</p>
      <button id="checker">Check All</button>
      <button id="unchecker">Unheck All</button>
    <hr style="border: 1px solid black">
    </section>
    <section>
        <div data-role="accordion" data-one-frame="true" data-show-active="false">
          {% for item in data.staff_db %}
          <div class="frame">
              <div class="heading"> <span><input type="checkbox" data-role="checkbox" value="{{forloop.counter0}}"></span>{{item.0}} - {{item.1}}</div>
              <div class="content">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Nama Kolom</th>
                          <th>Data System</th>
                          <th>Data Excel</th>
                      </tr>
                      </thead>
                      <tbody>
                        
                        {% for kolom in item  %}
                          
                          {% if kolom != data.staff_csv|index:forloop.parentloop.counter0|index:forloop.counter0 %}
                          <tr>
                              <td>{{data.label|index:forloop.counter0}}</td>
                              <td>{{kolom}}</td>
                              <td>{{data.staff_csv|index:forloop.parentloop.counter0|index:forloop.counter0}}</td>
                          </tr>         
                          {% endif %}                   
                        {% endfor %}
                          
                      </tbody>
                  </table>
              </div>
          </div>
          {% endfor %}
        </div>
      
        <button class="button warning submit" onclick="submit()">
            Ubah
          </button>
    </section>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#checker").click(function(){
        $("input:checkbox").prop('checked',true);
      });
       $("#unchecker").click(function(){
        $("input").prop('checked',false);
      });
      $("label").click(function(e){
        e.stopPropagation();
      });
    });

    function submit() {
        window.alert('Confirmed!');
        var arr_csv = {{data.staff_csv | js}};
        var change = [];
        var result = [];
        $.each($("input:checked"), function(){
                change.push($(this).val());
        });

        for (var i = 0; i < change.length; i++) {
          result.push(arr_csv[change[i]]);
        } 
        
        $.ajax({
        url: "/admin/staff/upload/edit",
        type: "POST",
        data: JSON.stringify(result),
        success: function(status) {
        location = '/admin/staff/'
        }

        });
    };
  </script>
</div>