{% extends "base.html" %} {% block content %}

<style></style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Staff :</p>
    </section>
    <section>
      <form id="staffform" method="POST" action="/admin/edit/detail/">
        <div class="select-dept">
          <div class="row mt-3 pl-3">
            <a onclick="Metro.dialog.open('#cancel-confirmation')">
              <li class="button alert">Batal</li>
            </a>
            <div class="dialog" id="cancel-confirmation" data-role="dialog">
              <div class="dialog-title">Logout</div>
              <div class="dialog-content">
                Anda yakin ingin membatalkan operasi ini
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Lanjutkan</button>
                <button class="button alert" onclick="location = '/admin/staff/'">
                  Batalkan
                </button>
              </div>
            </div>
            <button class="button success">
              <i class="fa fa-save"></i> Simpan
            </button>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Pegawai :</p>
              </div>
              <div class="cell-lg-6">
                <input value="{{ staff.nopeg }}" name="nopeg" hidden />
                <input type="text" data-role="input" data-default-value="{{ staff.nama_pegawai }}" name="nama_pegawai"
                  placeholder="Nama Pegawai" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>N.P.W.P :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.npwp }}" name="npwp"
                  placeholder="N.P.W.P" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>NIK :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nik }}" name="nik"
                  placeholder="NIK" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Basis Gaji :</p>
              </div>
              <div class="cell-lg-6">
                <select name="basis_gaji" form="staffform" data-role="input" id="basis_gaji" required>
                  <option value="Nett" {% if staff.basis_gaji == 'Nett' %} selected {% endif %}>Nett</option>
                  <option value="Gross" {% if staff.basis_gaji == 'Gross' %} selected {% endif %}>Gross</option>
                  <option value="Gross-Up" {% if staff.basis_gaji == 'Gross-Up' %} selected {% endif %}>Gross-Up
                  </option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>PPh Kembali Bulan Terakhir:</p>
              </div>
              <div class="cell-lg-6">
                <select name="pph_kembali_bulan_terakhir" form="staffform" data-role="input"
                  id="pph_kembali_bulan_terakhir" required>
                  <option value="aktif" {% if staff.pph_kembali_bulan_terakhir == 'aktif' %} selected {% endif %}>Aktif
                  </option>
                  <option value="nonaktif" {% if staff.pph_kembali_bulan_terakhir == 'nonaktif' %} selected {% endif %}>
                    Tidak Aktif</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Jenis Kelamin :</p>
              </div>
              <div class="cell-lg-6">
                <select name="kelamin" form="staffform" data-role="input" id="kelamin" required>
                  <option value="L" {% if staff.jenis_kelamin == "L" %} selected {% endif %}>Laki-laki</option>
                  <option value="P" {% if staff.jenis_kelamin == "P" %} selected {% endif %}>Perempuan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Status Pajak :</p>
              </div>
              <div class="cell-lg-6">
                <select name="status_pajak" form="staffform" data-role="input" id="status_pajak" required>
                  <option value="K/0" {% if staff.status_pajak == 'K/0' %} selected {% endif %}>K/0</option>
                  <option value="K/1" {% if staff.status_pajak == 'K/1' %} selected {% endif %}>K/1</option>
                  <option value="K/2" {% if staff.status_pajak == 'K/2' %} selected {% endif %}>K/2</option>
                  <option value="K/3" {% if staff.status_pajak == 'K/3' %} selected {% endif %}>K/3</option>
                  <option value="TK/0" {% if staff.status_pajak == 'TK/0' %} selected {% endif %}>TK/0</option>
                  <option value="TK/1" {% if staff.status_pajak == 'TK/1' %} selected {% endif %}>TK/1</option>
                  <option value="TK/2" {% if staff.status_pajak == 'TK/2' %} selected {% endif %}>TK/2</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Dept Code :</p>
              </div>
              <div class="cell-lg-6">
                <input value="{{ staff.status_kepegawaian }}" name="status_kepegawaian" hidden />
                <input type="text" data-role="input" data-default-value="{{ staff.dept_code }}" name="dept_code"
                  placeholder="Departemen" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>GL Account :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.gl_account }}" name="gl_account"
                  placeholder="GL Account" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Group Expenses :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.group_expenses }}"
                  name="group_expenses" placeholder="Group Expenses" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Dept :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.dept }}" name="dept"
                  placeholder="Dept" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Golongan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.golongan }}" name="golongan"
                  placeholder="Golongan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Jabatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.jabatan }}" name="jabatan"
                  placeholder="Jabatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Mulai Kerja : {{ staff.tanggal_mulai_kerja|date:'Y-m-d' }}</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" data-default-value="{{ staff.tanggal_mulai_kerja }}"
                  name="tanggal_mulai_kerja" data-value="{{ staff.tanggal_mulai_kerja|date:'Y-m-d' }}"
                  placeholder="Tanggal Mulai Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Mulai Payslip :</p>
              </div>
              <div class="cell-lg-6">
                <input value="test" name="status_aktif" hidden />
                <input type="date" data-role="datepicker" data-default-value="{{ staff.mulai_payslip }}"
                  name="mulai_payslip" data-value="{{ staff.mulai_payslip|date:'Y-m-d' }}"
                  placeholder="Mulai Payslip" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Berakhir Payslip : </p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" name="berakhir_payslip"
                  data-value="{{ staff.berakhir_payslip|date:'Y-m-d' }}" placeholder="Berakhir Payslip" />
                <input value="{{ staff.keterangan_aktif }}" name="keterangan_aktif" hidden />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_kontrak }}" name="nomor_kontrak"
                  placeholder="Nomor Kontrak" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.masa_kontrak }}" name="masa_kontrak"
                  placeholder="Masa Kontrak" />
                <input value="{{ staff.status_tidak_aktif }}" name="status_tidak_aktif" hidden />
                <input value="{{ staff.finish_contract }}" name="finish_contract" hidden />
                <input value="{{ staff.pengganti }}" name="pengganti" hidden />
                <input value="{{ staff.keterangan_tidak_aktif }}" name="keterangan_tidak_aktif" hidden />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Ditempatkan Di Perusahaan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.ditempatkan_di_perusahaan }}"
                  name="ditempatkan_di_perusahaan" placeholder="Ditempatkan Di Perusahaan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Under Supervisi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.under_supervisi }}"
                  name="under_supervisi" placeholder="Under Supervisi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Lokasi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.lokasi }}" name="lokasi"
                  placeholder="Lokasi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor ID Card :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_id_card }}" name="nomor_id_card"
                  placeholder="Nomor ID Card" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku ID Card :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.masa_berlaku_id_card }}"
                  name="masa_berlaku_id_card" placeholder="Masa Berlaku ID Card" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tempat Lahir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.tempat_lahir }}" name="tempat_lahir"
                  placeholder="Tempat Lahir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Lahir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" data-value="{{ staff.tanggal_lahir|date:'Y-m-d' }}"
                  name="tanggal_lahir" placeholder="Tanggal Lahir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Domisili Sekarang :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.alamat_domisili_sekarang }}"
                  name="alamat_domisili_sekarang" placeholder="Alamat Domisili Sekarang" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Email Perusahaan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.alamat_email_perusahaan }}"
                  name="alamat_email_perusahaan" placeholder="Alamat Email Perusahaan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Email Pribadi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.alamat_email_pribadi }}"
                  name="alamat_email_pribadi" placeholder="Alamat Email Pribadi" />
              </div>
            </div>
          </div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Telepon :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_telpon }}" name="nomor_telpon"
                  placeholder="Nomor Telepon" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Kartu Keluarga :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_kartu_keluarga }}"
                  name="nomor_kartu_keluarga" placeholder="Nomor Kartu Keluarga" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Suami/Istri :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nama_suami_istri }}"
                  name="nama_suami_istri" placeholder="Nama Suami/Istri" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nama_anak_satu }}"
                  name="nama_anak_satu" placeholder="Nama Anak 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nama_anak_dua }}" name="nama_anak_dua"
                  placeholder="Nama Anak 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nama_anak_tiga }}"
                  name="nama_anak_tiga" placeholder="Nama Anak 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor BPJS Kesehatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_bpjs_kesehatan }}"
                  name="nomor_bpjs_kesehatan" placeholder="Nomor BPJS Kesehatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku BPJS Kesehatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.masa_berlaku_bpjs_kesehatan }}"
                  name="masa_berlaku_bpjs_kesehatan" placeholder="Masa Berlaku BPJS Kesehatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor BPJS Tenaga Kerja :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.nomor_bpjs_tenagakerja }}"
                  name="nomor_bpjs_tenagakerja" placeholder="Nomor BPJS Tenaga Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku BPJS Tenaga Kerja :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.masa_berlaku_bpjs_tenagakerja }}"
                  name="masa_berlaku_bpjs_tenagakerja" placeholder="Masa Berlaku BPJS Tenaga Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Premi Asuransi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.premi_asuransi }}"
                  name="premi_asuransi" placeholder="Premi Asuransi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Pendidikan Terakhir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.pendidikan_terakhir }}"
                  name="pendidikan_terakhir" placeholder="Pendidikan Terakhir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.sertifikat_satu }}"
                  name="sertifikat_satu" placeholder="Sertifikat 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.sertifikat_dua }}"
                  name="sertifikat_dua" placeholder="Sertifikat 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.sertifikat_tiga }}"
                  name="sertifikat_tiga" placeholder="Sertifikat 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 4 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.sertifikat_empat }}"
                  name="sertifikat_empat" placeholder="Sertifikat 4" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training Diikuti :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.training_diikuti }}"
                  name="training_diikuti" placeholder="Training Diikutir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.training_satu }}" name="training_satu"
                  placeholder="Training 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.training_dua }}" name="training_dua"
                  placeholder="Training 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.training_tiga }}" name="training_tiga"
                  placeholder="Training 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 4 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.training_empat }}"
                  name="training_empat" placeholder="Training 4" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Referensi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" data-default-value="{{ staff.referensi }}" name="referensi"
                  placeholder="Referensi" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %} {% block js %} {% endblock %}