{% extends "base.html" %}
{% load custom_filter %}

{% block content %}
<style>
  select {
    background-color: #5a9db1 !important;
    border-radius: 5px;
    border-color: #5a9db1;
    border-style: solid;
    color: rgb(255, 255, 255);
  }

  .crud-button {
    min-width: 75px;
  }

  .dataTables_filter {
    display: none;
  }

  th {
    text-align: left;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Staff</p>
    </section>
    <section>
      <div class="select-dept">
        <div class="cell-lg-3">
          <select onchange="location = this.value;">
            {% if query == '' %}
            <option value="">Semua Departemen</option>
            {% else %}
            <option value="">{{ query }}</option>
            {% endif %}

            {% for d in dept %}
            {% if d != '' %}
            <option value="?filter={{ d.dept }}">
              {{ d.dept }}
            </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-3">
            <button class="button crud-button yellow" onclick="location = '/admin/staff/add/'">
              <i class="fa fa-plus"></i> Baru
            </button>
            <button class="button crud-button info" onclick="Metro.dialog.open('#download-confirmation')">
              <i class="fa fa-download"></i> Download All Staff
            </button>
            <div class="dialog" id="download-confirmation" data-role="dialog">
              <div class="dialog-title">Download All Staff</div>
              <div class="dialog-content">
                Pilih format sesuai dengan printer yang digunakan
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close alert">Batal</button>
                <button class="button success" onclick="location = '/admin/pdf/staff/'">
                  <i class="fa fa-download"></i> Standard Print
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-10">
      <table id="tableStaff" class="compact stripe hover">
        <thead>
        </thead>
        <thead>
          <tr>
            <th>NOPEG</th>
            <th>NAMA PEGAWAI</th>
            <th>DEPT</th>
            <th>GOLONGAN</th>
            <th>JABATAN</th>
            <th>BASIS GAJI</th>
            <th>STATUS PAJAK</th>
            <th>STATUS KEPEGAWAIAN</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for staff in staffs %}
          {% if staff.nama_pegawai != '' %}
          <tr>
            <td>{{ staff.nopeg }}</td>
            <td>{{ staff.nama_pegawai }}</td>
            <td>{{ staff.dept }}</td>
            <td>{{ staff.golongan }}</td>
            <td>{{ staff.jabatan }}</td>
            <td>{{ staff.basis_gaji }}</td>
            <td>{{ staff.status_pajak }}</td>
            <td>{{ staff.status_kepegawaian }}</td>
            <td>
              <button class="button info" onclick="location = '/admin/staff/detail/{{ staff.nopeg }}/'">
                Detail
              </button>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>

      </table>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function () {
    $('#tableStaff thead tr').clone(true).appendTo('#tableStaff thead');
    $('#tableStaff thead tr:eq(1) th').each(function (i) {
      var title = $(this).text();
      if (title !== '') {
        $(this).html('<input type="text" placeholder="Search ' + title + '" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      }
    });


    var table = $('#tableStaff').DataTable({
      bLengthChange: false,
      scrollX: false,
      bInfo: true,
    });

    $('#tableStaff thead').children().eq(2).remove();
  });
</script>
{% endblock %}