{% load custom_filter %}
{% load static %}
{% load staticfiles %}

<html>

<head>
    <style>
        @page {
            size: A5;
            margin: 1cm;
        }

        body {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            margin-top: 15px;
        }

        span {
            font-size: 12px;
            font-weight: bold;
        }

        .over {
            width: 75px;
        }

        /* .component {} */
    </style>
</head>

<body>
    {% for s in staffs %}
    <div class="page">
        <div class="content_body">
            <table>
                <tr>
                    <td align="right">{{date|date:"d M Y"}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <span>
                            PT. MISHUZIMA METAL WORKS INDONESIA
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            KARAWANG
                        </span>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Nopeg</td>
                    <td>{{ s.nopeg }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>NIK</td>
                    <td>{{ s.nik }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Departemen</td>
                    <td>{{ s.dept }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Golongan</td>
                    <td>{{ s.dept_code }}</td>
                    <td>Dept Code</td>
                    <td>{{ s.dept_code }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Status Pajak</td>
                    <td>{{ s.status_pajak}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Nama</td>
                    <td>{{ s.nama_pegawai | truncate }}</td>
                    <td>Jenis Kelamin</td>
                    <td>{{ s.jenis_kelamin }}</td>
                </tr>
                <tr>
                    <td>Tempat Lahir</td>
                    <td>{{ s.tempat_lahir }}</td>
                    <td>Tanggal Lahir</td>
                    <td>{{ s.tanggal_lahir }}</td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>{{ s.jabatan }}</td>
                    <td>Basis Gaji</td>
                    <td>{{ s.basis_gaji }}</td>
                </tr>
                <tr>
                    <td>Status Kepegawaian</td>
                    <td>{{ s.status_kepegawaian }}</td>
                    <td>PPh Kembali Bulan Terakhir</td>
                    <td>{{ s.pph_kembali_bulan_terakhir }}</td>
                </tr>
                <tr>
                    <td>GL Account</td>
                    <td>{{ s.gl_account }}</td>
                    <td>Group Expenses</td>
                    <td>{{ s.group_expenses }}</td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td><hr></td>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr></tr>
                <tr>
                    <td>Tanggal Mulai Kerja</td>
                    <td>{{ s.tanggal_mulai_kerja }}</td>
                    <td>Ditempatkan Di Perusahaan</td>
                    <td>{{ s.ditempatkan_di_perusahaan }}</td>
                </tr>
                <tr>
                    <td>Mulai Payslip</td>
                    <td>{{ s.mulai_payslip }}</td>
                    <td>Berakhir Payslip</td>
                    <td>{{ s.berakhir_payslip }}</td>
                </tr>
                <tr>
                    <td>Nomor Kontrak</td>
                    <td>{{ s.nomor_kontrak }}</td>
                    <td>Masa Kontrak</td>
                    <td>{{ s.masa_kontrak }}</td>
                </tr>
                <tr>
                    <td>Under Supervisi</td>
                    <td>{{ s.under_supervisi }}</td>
                    <td>Lokasi</td>
                    <td>{{ s.lokasi }}</td>
                </tr>
                <tr>
                    <td>Nomor ID Card</td>
                    <td>{{ s.nomor_id_card }}</td>
                    <td>Masa Berlaku ID Card</td>
                    <td>{{ s.masa_berlaku_id_card }}</td>
                </tr>
                <tr>
                    <td>Alamat Domisili Sekarang</td>
                    <td>{{ s.alamat_domisili_sekarang }}</td>
                </tr>
                <tr>
                    <td>Alamat Email Perusahaan</td>
                    <td>{{ s.alamat_email_perusahaan }}</td>
                </tr>
                <tr>
                    <td>Alamat Email Pribadi</td>
                    <td>{{ s.alamat_email_pribadi }}</td>
                </tr>
                <tr>
                    <td>Nomor Telepon</td>
                    <td>{{ s.nomor_telpon }}</td>
                    <td>Premi Asuransi</td>
                    <td>{{ s.premi_asuransi }}</td>
                </tr>
                <tr>
                    <td>No BPJS Kesehatan</td>
                    <td>{{ s.nomor_bpjs_kesehatan }}</td>
                    <td>Masa Berlaku BPJS Kesehatan</td>
                    <td>{{ s.masa_berlaku_bpjs_kesehatan }}</td>
                </tr>
                <tr>
                    <td>No BPJS TK</td>
                    <td>{{ s.nomor_bpjs_tenagakerja }}</td>
                    <td>Masa Berlaku BPJS TK</td>
                    <td>{{ s.masa_berlaku_bpjs_tenagakerja }}</td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td><hr></td>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr></tr>
                <tr>
                    <td>Nomor KK</td>
                    <td>{{ s.nomor_kartu_keluarga }}</td>
                    <td>Nama Suami/Istri</td>
                    <td>{{ s.nama_suami_istri }}</td>
                </tr>
                <tr>
                    <td>Anak 1</td>
                    <td>{{ s.nama_anak_satu }}</td>
                    <td>Anak 2</td>
                    <td>{{ s.nama_anak_dua }}</td>
                </tr>
                <tr>
                    <td>Anak 3</td>
                    <td>{{ s.nama_anak_tiga }}</td>
                </tr>
                <tr>
                    <td>Pendidikan Terakhir</td>
                    <td>{{ s.pendidikan_terakhir }}</td>
                    <td>Sertifikat 1</td>
                    <td>{{ s.sertifikat_satu }}</td>
                </tr>
                <tr>
                    <td>Sertifikat 2</td>
                    <td>{{ s.sertifikat_dua }}</td>
                    <td>Sertifikat 3</td>
                    <td>{{ s.sertifikat_tiga }}</td>
                </tr>
                <tr>
                    <td>Sertifikat 4</td>
                    <td>{{ s.sertifikat_empat }}</td>
                    <td>Training Diikuti</td>
                    <td>{{ s.training_diikuti }}</td>
                </tr>
                <tr>
                    <td>Training 1</td>
                    <td>{{ s.training_satu }}</td>
                    <td>Training 2</td>
                    <td>{{ s.training_dua }}</td>
                </tr>
                <tr>
                    <td>Training 3</td>
                    <td>{{ s.training_tiga }}</td>
                    <td>Training 4</td>
                    <td>{{ s.training_empat }}</td>
                </tr>
                <tr>
                    <td>Referensi</td>
                    <td>{{ s.referensi }}</td>
                </tr>
            </table>
        </div>
        <div class="space" style="margin-bottom:150px;color: white;">
            HIDDEN
        </div>
    </div>
    {% endfor %}
</body>

</html>