{% extends "base.html" %} {% block content %}

<style>
  .accordion.marker-on .heading::before {
    margin-top: 15px;

  }

  .dropzone {
    height: 294px;
    width: 220px;
  }

  .upload {
    font-size: 12px;
  }

  .submit {
    float: right;
    width: 150px;
    margin: 75px;
  }
</style>

<div id="upload">
  <div class="shifted-content-2 h-100 p-ab">
    <div class="h-100 p-4">
      <section class="mb-10">
        <p class="h1">Upload Daftar Staff</p>
        <p class="h6">Geser dan taruh file staff anda disini</p>
      </section>
      <section>
        <div class="row">
          <div class="cell-lg-2">
            <input id="fileUpload" class="dropzone" type="file" data-role="file" data-mode="drop" />
          </div>
          <div id="statusUpload" class="cell-lg-10">
            <p>Status Upload</p>
          </div>
        </div>
        <button class="button warning" onclick="submit()">
          Submit
        </button>
      </section>
    </div>
  </div>
</div>

<div id="edit" class="shifted-content-2 h-100 p-ab" hidden>
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Apakah anda ingin mengganti data pada sistem?</p>
      <p class="h6">Sudah terdapat data pegawai sama di dalam sistem. Silahkan beri tanda checklist pada data yang
        ingin anda ubah</p>
      <div class="row">
        <div class="cell-lg-6">
          <button id="checker" class="button info">Check All</button>
          <button id="unchecker" class="button yellow">Unheck All</button>
        </div>
        <div class="cell-lg-6">
          <button class="button warning" onclick="edit()">
            Ubah
          </button>
        </div>
      </div>
      <hr style="border: 1px solid black">
    </section>
    <section>
      <div id="editable" data-role="accordion" data-one-frame="true" data-show-active="true"></div>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}
<script>

  var label = [];
  var before_list = [];
  var after_list = [];

  $("#fileUpload").change(function () {
    var files = $("#fileUpload")[0].files;

    if (files.length > 0) {
      $("#statusUpload").empty();
    }

    upload(this);
  });

  function upload(input) {
    var formData = Array.prototype.reduce.call(
      input.files,
      function (formData, file, i) {
        progressFile(i, file.name);
        formData.append("file" + i, file);
        return formData;
      },
      new FormData()
    );
  }


  function edit() {
    var result = [];

    $.each($("input:checked"), function () {
      result.push(after_list[$(this).val()]);
    });

    $.ajax({
      url: "/admin/staff/upload/edit",
      type: "POST",
      data: JSON.stringify(result),
      success: function (response) {
        if (response['status'] == 'success') {
          var url = "/admin/staff/";
          $(location).attr('href', url);
        }
      }

    });
  }


  function submit() {
    var formData = new FormData();
    var files = $("#fileUpload")[0].files;

    if (files.length > 0) {

      for (var i = 0; i < files.length; i++) {
        formData.append("files", files[i]);
      }

      $.ajax({
        url: "/admin/upload/detail/",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {

          if (response['status'] == 'editable') {
            $("#edit").attr("hidden", false);
            $("#upload").attr("hidden", true);

            label = response['data']['label'];
            before_list = response['data']['staff_db'];
            after_list = response['data']['staff_csv'];

            for (var a = 0; a < before_list.length; a++) {
              editableData(a, label, before_list[a], after_list[a]);
            }
          } else {
            var url = "/admin/staff/";
            $(location).attr('href', url);
          }
        },
      });
    } else {
      toastr.info('Masukan file yang ingin diupload')
    }
  }



  $("#checker").click(function () {
    $("input:checkbox").prop('checked', true);
  });

  $("#unchecker").click(function () {
    $("input:checkbox").prop('checked', false);
  });

  function getDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = getMonth(today.getMonth());
    var yyyy = today.getFullYear();

    return "Di unggah pada " + dd + " " + mm + " " + yyyy;
  }

  function getMonth(value) {
    const date = new Date(2019, value, 1);
    const month = date.toLocaleString("id", { month: "long" });
    return month;
  }

  function progressFile(i, name) {
    var progress =
      `
        <div class="row">
            <div class="cell-lg-6">
                <div id="fileDescription">
                    <div class="row">
                        <div id="fileName` + i + `" class="cell-lg-5 upload">` + name + `</div>
                        <div id="uploadPercentage` + i + `" class="cell-lg-2 upload"></div>
                        <div id="uploadDate` + i + `" class="cell-lg-5 upload">` + getDate() + `</div>
                    </div>
                </div>
                <div id="fileProgressBar` + i + `"></div>
            </div>
        </div>
    `;

    $("#statusUpload").append(progress);
    progressbarAnimation(i);
  }

  function progressbarAnimation(i) {
    var bar = new ProgressBar.Line("#fileProgressBar" + i, {
      strokeWidth: 4,
      easing: "easeInOut",
      duration: 1400,
      color: "#5a9db1",
      trailColor: "#eee",
      trailWidth: 1,
      svgStyle: { width: "100%", height: "100%", borderRadius: "10px" },
      from: { color: "#5a9db1" },
      to: { color: "#5a9db1" },
      step: (state, bar) => {
        $("#uploadPercentage" + i).html(Math.round(bar.value() * 100) + " %");
      }
    });

    bar.animate(1.0);
  }

  function editableData(row, label, before, after) {
    var data = `
        <div id="frame-${row}" class="frame">
          <div class="heading">
            <div class="row">
              <div class="cell-lg-2 offset-1">
                <input type="checkbox" data-role="checkbox" value="${row}">
              </div>
              <div class="cell-lg-9">
                ${after[0]} (${after[1]})
              </div>
            </div>
          </div>
          <div class="content">
            <table class="table">
              <thead>
                <tr>
                  <th>Nama Kolom</th>
                  <th>Data System</th>
                  <th>Data Excel</th>
                </tr>
              </thead>
              <tbody>
                ${generateRowTable(label, before, after)}
              </tbody>
            </table>
          </div>
        </div>
      `
    $('#editable').append(data);
  }

  function generateRowTable(label, before, after) {
    var result = '';
    var color = '';
    console.log(label);
    console.log(before);
    console.log(after);
    for (var i = 0; i < label.length; i++) {
      if (before[i] != null || after[i] != null) {
        if (typeof after[i] == 'string' && after[i].includes("T00:00:00")) {
          after[i] = after[i].replace("T00:00:00", "");
        }

        if ((before[i] != null && before[i] != '' && before[i] != 'None') && (after[i] != null && after[i] != '' && after[i] != 'None') && (before[i] != after[i])) {
          color = '#EBC668';
        } else if ((before[i] == null || before[i] == '' || before[i] == 'None') && (after[i] != null && after[i] != '' && after[i] != 'None')) {
          color = '#91B793';
        } else if ((before[i] != null && before[i] != '' && before[i] != 'None') && (after[i] == null || after[i] == '' || after[i] == 'None')) {
          color = '#C0737E';
        } else {
          color = '#FFF';
        }

        if (typeof after[i] == 'number') {
          after[i] = after[i].toString()
        }

        if (before[i] != 'None' && (before[i] !== after[i])) {
          result += `
            <tr bgcolor="${color}">
              <td>${label[i]}</td>
              <td>${before[i] == null || before[i] == '' ? 'kosong' : before[i]}</td>
              <td>${after[i] == null || after[i] == '' ? 'kosong' : after[i]}</td>
            </tr>
          `
        }
      }
    }
    return result;
  }
</script>
{% endblock %}