{% extends "base.html" %}
{% load custom_filter %}

{% block content %}
<style>
  input:read-only {
    background-color: #E9E9E9;
    color: black !important;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Payroll</p>
    </section>
    <section>
      <form method="POST" action="/admin/edit/payroll/{{ payroll.pk }}/">
        <div class="select-dept">
          <div class="row mt-3 pl-3 mb-2">
            <a onclick="Metro.dialog.open('#cancel-confirmation')">
              <li class="button alert">Batal</li>
            </a>
            <div class="dialog" id="cancel-confirmation" data-role="dialog">
              <div class="dialog-title">Logout</div>
              <div class="dialog-content">
                Anda yakin ingin membatalkan operasi ini
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Lanjutkan</button>
                <button class="button alert" onclick="location = '/admin/payroll/'">
                  Batalkan
                </button>
              </div>
            </div>
            <button class="button success">
              <i class="fa fa-save"></i> Simpan
            </button>
          </div>
        </div>
        <ul data-cls-tabs="flex-justify-start" data-role="tabs" data-expand="true">
          <li><a href="#_target_1">Data Payroll</a></li>
          <li><a href="#_target_2">Data PPh 21</a></li>
        </ul>
        <div class="border bd-default no-border-top p-2">
          <div id="_target_1">
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>No Pegawai </p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="nopeg" data-default-value="{{ payroll.staff.nopeg  }}"
                      placeholder="No Pegawai" disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Gaji Pokok :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="gaji_pokok" data-default-value="{{ payroll.gaji_pokok }}"
                      placeholder="Gaji Pokok" {% if tipe == 'Gaji Bulanan' %} required {% else %} readonly
                      {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Potongan Absen :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.potongan_absen }}"
                      name="potongan_absen" placeholder="Potongan Absen" {% if tipe != 'Gaji Bulanan' %} readonly
                      {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Lembur :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="lembur" data-default-value="{{ payroll.lembur }}"
                      placeholder="Lembur" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>THR :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="thr" data-default-value="{{ payroll.thr }}"
                      placeholder="THR" {% if tipe == 'Bonus' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Rapel :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="rapel" data-default-value="{{ payroll.rapel }}"
                      placeholder="Rapel" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Bonus :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="bonus" data-default-value="{{ payroll.bonus }}"
                      placeholder="Bonus" {% if tipe == 'THR' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Uang Makan :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="uang_makan" data-default-value="{{ payroll.uang_makan }}"
                      placeholder="Uang Makan" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Jabatan : </p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_jabatan"
                      data-default-value="{{ payroll.tunjangan_jabatan }}" placeholder="Tunjangan Jabatan"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Seniority :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="seniority" data-default-value="{{ payroll.seniority }}"
                      placeholder="Seniority" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Transport :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="transport" data-default-value="{{ payroll.transport }}"
                      placeholder="Transport" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Keluarga :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_keluarga"
                      data-default-value="{{ payroll.tunjangan_keluarga }}" placeholder="Tunjangan Keluarga"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Shift :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_shift"
                      data-default-value="{{ payroll.tunjangan_shift }}" placeholder="Tunjangan Shift"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Kehadiran :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_kehadiran"
                      data-default-value="{{ payroll.tunjangan_kehadiran }}" placeholder="Tunjangan Kehadiran"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Lainnya :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_lainnya"
                      data-default-value="{{ payroll.tunjangan_lainnya }}" placeholder="Tunjangan Lainnya"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan PPh 21 :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tunjangan_pph_21"
                      data-default-value="{{ payroll.tunjangan_pph_21 }}" placeholder="Tunjangan PPh 21" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Gaji Bruto :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="gaji_bruto" data-default-value="{{ payroll.gaji_bruto }}"
                      placeholder="Gaji Bruto" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Salary Exclude OT :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="salary_exclude_ot"
                      data-default-value="{{ payroll.salary_exclude_ot }}" placeholder="Salary Exclude OT" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="pph_21" data-default-value="{{ payroll.pph_21 }}"
                      placeholder="PPh 21" />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Astek JP :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="astek_jp" data-default-value="{{ payroll.astek_jp }}"
                      placeholder="Astek JP" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>BPJS Kesehatan 1% :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="bpjs_kesehatan_1"
                      data-default-value="{{ payroll.bpjs_kesehatan_1 }}" placeholder="BPJS Kesehatan 1%"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>BPJS Kesehatan 4% :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="bpjs_kesehatan_4"
                      data-default-value="{{ payroll.bpjs_kesehatan_4 }}" placeholder="BPJS Kesehatan 4%"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Asuransi JKK JKM :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="asuransi_jkk_jkm"
                      data-default-value="{{ payroll.asuransi_jkk_jkm }}" placeholder="Asuransi JKK JKM"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Iuran SPSI :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="iuran_spsi" data-default-value="{{ payroll.iuran_spsi }}"
                      placeholder="Iuran SPSI" {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Potongan Lainnya :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="potongan_lainnya"
                      data-default-value="{{ payroll.potongan_lainnya }}" placeholder="Potongan Lainnya"
                      {% if tipe != 'Gaji Bulanan' %} readonly {% endif %} />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Total Potongan :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="total_potongan"
                      data-default-value="{{ payroll.total_potongan }}" placeholder="Total Potongan " />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Gaji Netto :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="gaji_netto" data-default-value="{{ payroll.gaji_netto }}"
                      placeholder="Gaji Netto" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Nomor Rekening :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="nomor_rekening"
                      data-default-value="{{ payroll.nomor_rekening }}" placeholder="Nomor Rekening" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Bank :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="bank" data-default-value="{{ payroll.bank }}"
                      placeholder="Bank" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Gaji Netto Tempat Sebelumnya :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="gaji_netto_sebelum"
                      data-default-value="{{ payroll.gaji_netto_sebelum }}"
                      placeholder="Gaji Netto Tempat Sebelumnya" />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Tempat Sebelumnya :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="pph_21_sebelum"
                      data-default-value="{{ payroll.pph_21_sebelum }}" placeholder="PPh 21 Tempat Sebelumnya" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="_target_2">
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>NPWP :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="npwp" data-default-value="{{ payroll.staff.npwp }}"
                      placeholder="NPWP" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Status Pajak :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="status_pajak"
                      data-default-value="{{ payroll.staff.status_pajak }}" placeholder="Status Pajak" disabled>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Perbulan Sistem :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tax_pph_21_perbulan_sistem"
                      data-default-value="{{ payroll.tax_pph_21_perbulan_sistem }}" placeholder="PPh 21 Perbulan Sistem"
                      disabled />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Basis Gaji :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="basis_gaji"
                      data-default-value="{{ payroll.staff.basis_gaji }}" placeholder="Basis Gaji" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Penghitung PPh 21 :</p>
                  </div>
                  <div class="cell-lg-6">
                    <select data-role="select" name="penghitung_pph_21">
                      {% if payroll.penghitung_pph_21 == 'sistem' %}
                      <option value="sistem" selected>sistem</option>
                      <option value="dipilih">dipilih</option>
                      {% else %}
                      <option value="sistem">sistem</option>
                      <option value="dipilih" selected>dipilih</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Perbulan Dipilih :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" name="tax_pph_21_perbulan_manual"
                      data-default-value="{{ payroll.tax_pph_21_perbulan_manual }}"
                      placeholder="PPh 21 Perbulan Dipilih" />
                  </div>
                </div>
              </div>
            </div>
            <h3>Rincian perhitungan PPh 21</h3>
            <hr />
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Gaji Pokok :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.gaji_pokok | rupiah  }}"
                      placeholder="Gaji Pokok" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Pajak :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tunjangan_pph_21 | rupiah  }}"
                      placeholder="Tunjangan Pajak" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Tunjangan Lain/Lembur :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tax_tunjangan_lain | rupiah  }}"
                      placeholder="Tunjangan Lain/Lembur" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Asuransi :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tax_asuransi | rupiah  }}"
                      placeholder="Asuransi" disabled />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>THR :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.thr | rupiah  }}"
                      placeholder="THR" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Bonus :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.bonus | rupiah  }}"
                      placeholder="Bonus" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P.Bruto - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_penghasilan_bruto_reg | rupiah  }}" placeholder="P.Bruto - REG"
                      disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P.Bruto - IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_penghasilan_bruto_irreg | rupiah  }}"
                      placeholder="P.Bruto - IRREG" disabled />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Biaya Jabatan - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_biaya_jabatan_reg | rupiah  }}"
                      placeholder="Biaya Jabatan - REG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Biaya Jabatan - IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_biaya_jabatan_irreg | rupiah  }}"
                      placeholder="Biaya Jabatan - IRREG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Iuran Pensiun :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.astek_jp | rupiah  }}"
                      placeholder="Iuran Pensiun" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PTKP :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tax_ptkp | rupiah  }}"
                      placeholder="PTKP" disabled />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P. Netto Sebulan - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_penghasilan_netto_perbulan_reg | rupiah  }}"
                      placeholder="P. Netto Sebulan - REG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P. Netto Setahun - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_penghasilan_netto_pertahun_reg | rupiah  }}"
                      placeholder="P. Netto Setahun - REG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P. Netto - TEMPAT SEBELUMNYA :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.gaji_netto_sebelum | rupiah  }}"
                      placeholder="P. Netto - TEMPAT SEBELUMNYA" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>P. Netto Setahun - IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_penghasilan_netto_pertahun_irreg  | rupiah  }}"
                      placeholder="P. Netto Setahun - IRREG" disabled />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PKP - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tax_pkp_reg | rupiah  }}"
                      placeholder="PKP - REG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PKP - REG & IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.tax_pkp_reg_irreg | rupiah  }}"
                      placeholder="PKP - REG & IRREG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Setahun - REG & IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_pph_21_pertahun_reg_irreg | rupiah  }}"
                      placeholder="PPh 21 Setahun - REG & IRREG" disabled />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Setahun - REG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_pph_21_pertahun_reg | rupiah  }}"
                      placeholder="PPh 21 Setahun - REG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Setahun - IRREG :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_pph_21_pertahun_irreg | rupiah  }}"
                      placeholder="PPh 21 Setahun - IRREG" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 - TEMPAT SEBELUMNYA:</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input" data-default-value="{{ payroll.pph_21_sebelum | rupiah  }}"
                      placeholder="PPh 21 - TEMPAT SEBELUMNYA" disabled />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row mt-3 pl-3">
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Setahun - ALL :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_pph_21_pertahun_all | rupiah  }}"
                      placeholder="PPh 21 Setahun - ALL" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>PPh 21 Perbulan - ALL :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_pph_21_perbulan_all | rupiah  }}"
                      placeholder="PPh 21 Perbulan - ALL" disabled />
                  </div>
                </div>
              </div>
              <div class="cell-lg-6">
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Total PPh 21 FIX Bulan Lalu :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_total_pph_21_fixed_sebelum | rupiah  }}"
                      placeholder="Total PPh 21 FIX Bulan Lalu" disabled />
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="cell-lg-5">
                    <p>Adjustment Bulan Terakhir :</p>
                  </div>
                  <div class="cell-lg-6">
                    <input type="text" data-role="input"
                      data-default-value="{{ payroll.tax_adjustment_pph_21 | rupiah  }}"
                      placeholder="Adjustment Bulan Terakhir" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}