{% extends "base.html" %}
{% block content %}

<style>
  select {
    background-color: #5a9db1 !important;
    border-radius: 5px;
    border-color: #5a9db1;
    border-style: solid;
    color: rgb(255, 255, 255);
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">History</p>
    </section>
    <section>
      <div class="select-dept">
        <div class="cell-lg-3">
          <select onchange="location = this.value;">
            <option value="">Semua Departemen</option>
          </select>
        </div>
      </div>
    </section>
    <section class="mt-10">
      <table class="table mt-5" id="t-flt" data-role="table" data-rows="10" data-rows-steps="10, 10"
        data-show-rows-steps="false" data-show-search="true">
        <thead>
          <tr>
            <th>Tanggal Diubah</th>
            <th>Hal Yang Diubah</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for history in histories %}
          <tr>
            <td>{{ history.date|date:"d M Y"  }}</td>
            <td>{{ history.status }}</td>
            {% if history.user %}
            <td>{{ history.user}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}