{% extends "base.html" %}
{% load custom_filter %}


{% block content %}
<style>
  select {
    background-color: #5a9db1 !important;
    border-radius: 5px;
    border-color: #5a9db1;
    border-style: solid;
    color: rgb(255, 255, 255);
  }

  .publish {
    background-color: #5a9db1;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    width: 120px;
    float: right;
  }

  #typeFilter {
    background-color: #8ED7AC !important;
    border-color: #8ED7AC !important;
    height: 38px;
    border-radius: unset;
  }

  .published {
    float: right;
  }

  #payroll {
    display: none;
  }

  .info-box {
    max-height: 100vh !important;
  }

  .crud-button {
    min-width: 75px;
  }

  .slip-header {
    border: 1px solid #000000;
    text-align: center;
  }

  .slip-title {
    border: 1px solid #000000;
    text-align: center;
  }

  .slip-identity {
    border: 1px solid #000000;
  }

  hr {
    border: 1px solid #000000;
    background-color: unset;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5a9db1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20%;
    margin-left: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .detail-nama {
    line-height: 0.5;
  }

  .detail-head {
    background-color: #dff0d8;
    border: 1px solid #c7d6c1;
  }

  .detail-body {
    border: 1px solid #c7d6c1;
  }

  .dataTables_filter {
    display: none;
  }

  th {
    text-align: left;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="loader"></div>
  <div id="payroll" class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Payroll</p>
    </section>
    <section>
      <div class="select-dept">
        <div class="row">
          <div class="cell-lg-3">
            <input type="date" data-role="datepicker" data-day="false" data-value="{{ m_val|date:'Y-m-d' }}"
              class="queryFilter" id="monthFilter" />
          </div>
          <div class="cell-lg-2">
            <select id="typeFilter" class="queryFilter">
              <option value="{{ types | safe }}" selected hidden>{{ types | safe }}</option>
              <option value="Gaji Bulanan">Gaji Bulanan</option>
              <option value="THR">THR</option>
              <option value="Bonus">Bonus</option>
            </select>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-3">
            {% if is_published %}
            <button class="button disabled" style="color: black !important;">
              <i class=" fa fa-plus"></i> Baru
            </button>
            {% else %}
            <button class="button crud-button yellow" onclick="location = '/admin/payroll/add/{{month}}/{{types}}/'">
              <i class="fa fa-plus"></i> Baru
            </button>
            {% endif %}

            <button class="button crud-button info" onclick="Metro.dialog.open('#download-confirmation')">
              <i class="fa fa-download"></i> Download All Payslip
            </button>
            <h5>Grand Total : {{ grand_total | rupiah }}</h5>
          </div>
          <div class="cell-lg-9">
            <div class="dialog" id="publish-confirmation" data-role="dialog">
              <div class="dialog-title">Publish</div>
              <div class="dialog-content">
                Apakah kamu yakin akan publish data slip gaji ?
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close alert">Batal</button>
                <button class="button success" onclick="location = '/admin/publish/payroll/{{month}}/{{types}}/'">
                  Publish
                </button>
              </div>
            </div>
            <div class="dialog" id="download-confirmation" data-role="dialog">
              <div class="dialog-title">Download All Payslip</div>
              <div class="dialog-content">
                {% if is_published %}
                Pilih format sesuai dengan printer yang digunakan
                {% else %}
                Publish terlebih dahulu data payroll {{month}} untuk {{types}}
                {% endif %}
              </div>
              <div class="dialog-actions">
                {% if is_published %}
                <button class="button js-dialog-close alert">Batal</button>
                <button class="button success" onclick="window.open('/admin/pdf/{{ month | safe }}/{{types}}/')">
                  <i class="fa fa-download"></i> Standard Print
                </button>
                <button class="button success" onclick="location = '/admin/excel/{{ month | safe }}/{{types}}/'">
                  <i class="fa fa-download"></i> Dot Matrix Print
                </button>
                {% else %}
                <button class="button js-dialog-close alert">Batal</button>
                {% endif %}
              </div>
            </div>

            {% if is_published %}
            <button class="button published" disabled>Published</button>
            {% else %}
            <button class="button publish" onclick="Metro.dialog.open('#publish-confirmation')">
              Publish
            </button>
            {% endif %}
            {% if is_published %}
            <button class="button published mr-2" disabled>Perbarui Hitungan</button>
            {% else %}
            <button class="button published success mr-2"
              onclick="location = '/admin/recalculate/tax/{{month}}/{{types}}/'">
              Perbarui Hitungan
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <section class="mt-2">
      <table id="example" class="compact stripe hover">
        <thead></thead>
        <thead>
          <tr>
            <th>NOPEG</th>
            <th>NAMA PEGAWAI</th>
            <th>DEPT CODE</th>
            <th>GL ACCOUNT</th>
            <th>TUNJANGAN PPh 21</th>
            <th>GAJI BRUTO</th>
            <th>POTONGAN PPH 21</th>
            <th>GAJI NETTO</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for payroll in payrolls %}
          <tr>
            <td>{{ payroll.staff.nopeg }}</td>
            <td>{{ payroll.staff.nama_pegawai }}</td>
            <td>{{ payroll.staff.dept_code }}</td>
            <td>{{ payroll.staff.gl_account }}</td>
            <td>{{ payroll.tunjangan_pph_21 | rupiah }}</td>
            <td>{{ payroll.gaji_bruto | rupiah }}</td>
            <td>{{ payroll.pph_21 | rupiah }}</td>
            <td>{{ payroll.gaji_netto | rupiah }}</td>
            <td>
              <button class="button info"
                onclick="location = '/admin/payroll/view/detail/{{payroll.staff.nopeg}}/{{payroll.bulan}}/{{types}}/'">
                Lihat Detail
              </button>
            </td>
            <td>
              <button class="button info"
                onclick="location = '/admin/payroll/view/pdf/{{payroll.staff.nopeg}}/{{payroll.bulan}}/{{types}}/'">
                Lihat Slip
              </button>
            </td>
          </tr>
  </div>
  {% endfor %}
  </tbody>
  </table>
  </section>
</div>
</div>
{% endblock %}

{% block js %}
<script>
  $(window).on('load', function () {
    $("#payroll").css("display", "block");
    $(".loader").css("display", "none");
  });

  $(document).ready(function () {
    $('#example thead tr').clone(true).appendTo('#example thead');
    $('#example thead tr:eq(1) th').each(function (i) {
      var title = $(this).text();
      if (title !== '') {
        $(this).html('<input type="text" placeholder="Search ' + title + '" />');

        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      }
    });



    $('.queryFilter').change(function () {
      var item = $('#monthFilter').val().split("-");
      month = convertMonth(item[1])
      var tipe = $('#typeFilter option:selected').val();
      location = `?bulan=${month} ${item[0]}&tipe=${tipe}`;
    })



    var table = $('#example').DataTable({
      autowidth: false,
      bLengthChange: false,
      scrollX: false,
      bInfo: true,
    });

    $('#example thead').children().eq(2).remove();
  });

  function convertMonth(intMonth) {
    months = {
      "01": "January",
      "02": "February",
      "03": "March",
      "04": "April",
      "05": "May",
      "06": "June",
      "07": "July",
      "08": "August",
      "09": "September",
      "10": "October",
      "11": "November",
      "12": "December",
    }
    return months[intMonth]
  }
</script>


{% endblock %}