{% extends "base.html" %}

{% block content %}
<style>
  .dropzone {
    height: 294px;
    width: 220px;
  }

  .upload {
    font-size: 12px;
  }

  .submit {
    float: right;
    width: 150px;
    margin: 75px;
  }

  .monthSelector {
    margin-top: 10px;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5a9db1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20%;
    margin-left: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>

<div class="shifted-content-2 h-100 p-ab">
  <div class="loader" style="display:none;"></div>
  <div id="upload" class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Upload Payroll</p>
      <p class="h6">Geser dan taruh file staff anda disini</p>
    </section>
    <section>
      <div class="row">
        <div class="cell-lg-2">
          <input id="fileUpload" class="dropzone" type="file" data-role="file" data-mode="drop" />
        </div>
        <div id="statusUpload" class="cell-lg-10">
          <p>Status Upload</p>
        </div>
      </div>
      <button class="button warning" onclick="submit()">
        Submit
      </button>
    </section>
  </div>
</div>
{% endblock %} {% block js %}

<script>
  $("#fileUpload").change(function () {
    var files = $("#fileUpload")[0].files;

    if (files.length > 0) {
      $("#statusUpload").empty();
    }

    upload(this);
  });

  function upload(input) {
    var formData = Array.prototype.reduce.call(
      input.files,
      function (formData, file, i) {
        progressFile(i, file.name);
        formData.append("file" + i, file);
        return formData;
      },
      new FormData()
    );
  }

  function submit() {

    var formData = new FormData();
    var files = $("#fileUpload")[0].files;
    var validator = [];

    if (files.length > 0) {
      for (var i = 0; i < files.length; i++) {
        var month = "#month" + i;
        validator.push($(month).val());
        var type = `#type${i}`
        formData.append("months", $(month).val());
        formData.append("types", $(type).val());
        formData.append("files", files[i]);
      }

      if (checkIfDuplicateExists(validator)) {
        toastr.error("Upload File untuk bulan yang berbeda")
        setTimeout(function () {
          window.location.reload();
        }, 3000);
      } else {
        $.ajax({
          url: "/admin/upload/payroll/",
          type: "POST",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          error: function (error) {
            console.log(error);
          },
          success: function (response) {
            if (response['status'] == 'success') {
              var url = "/admin/payroll/";
              $(location).attr('href', url);
            } else {
              var error = response['data']['error'];
              toastr.warning(error);
            }
          }
        });
      }
    } else {
      toastr.info('Masukan file yang ingin diupload')
    }
  }

  function checkIfDuplicateExists(w) {
    return new Set(w).size !== w.length
  }

  function getDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = getMonth(today.getMonth());
    var yyyy = today.getFullYear();

    return "Di unggah pada " + dd + " " + mm + " " + yyyy;
  }

  function getMonth(value) {
    const date = new Date(2019, value, 1);
    const month = date.toLocaleString("id", { month: "long" });
    return month;
  }

  function progressFile(i, name) {
    var progress =
      `
        <div class="row">
            <div class="cell-lg-5">
                <div id="fileDescription">
                    <div class="row">
                        <div id="fileName` + i + `" class="cell-lg-5 upload">` + (i + 1) + `. ` + name + `</div>
                        <div id="uploadPercentage` + i + `" class="cell-lg-2 upload"></div>
                        <div id="uploadDate` + i + `" class="cell-lg-5 upload">` + getDate() + `</div>
                    </div>
                </div>
                <div id="fileProgressBar` + i + `"></div>
            </div>
            <div class="cell-lg-3">
                <select class="monthSelector" id="month`+ i + `" name="month` + i + `">
                    {% for month in months %}
                        <option val="{{ month }}"> {{ month }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="cell-lg-3">
                <select class="monthSelector" id="type${i}" name="type${i}">
                    <option val="bulanan">Gaji Bulanan</option>
                    <option val="thr">THR</option>
                    <option val="bonus">Bonus</option>
                </select>
            </div>
        </div>
    `;

    $("#statusUpload").append(progress);
    progressbarAnimation(i);
  }

  function progressbarAnimation(i) {
    var bar = new ProgressBar.Line("#fileProgressBar" + i, {
      strokeWidth: 4,
      easing: "easeInOut",
      duration: 1400,
      color: "#5a9db1",
      trailColor: "#eee",
      trailWidth: 1,
      svgStyle: { width: "100%", height: "100%", borderRadius: "10px" },
      from: { color: "#5a9db1" },
      to: { color: "#5a9db1" },
      step: (state, bar) => {
        $("#uploadPercentage" + i).html(Math.round(bar.value() * 100) + " %");
      }
    });

    bar.animate(1.0);
  }
</script>
{% endblock %}