{% extends "base.html" %}
{% block content %}
<style>
  input[readonly] {
    background-color: gainsboro;
  }

  select[aria-readonly="true"] {
    background-color: gainsboro;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Staff :</p>
    </section>
    <section>
      <form method="POST" action="/admin/add/staff/" id="staffform">
        <div class="select-dept">
          <div class="row mt-3 pl-3">
            <a onclick="Metro.dialog.open('#cancel-confirmation')">
              <li class="button alert">Batal</li>
            </a>
            <div class="dialog" id="cancel-confirmation" data-role="dialog">
              <div class="dialog-title">Logout</div>
              <div class="dialog-content">
                Anda yakin ingin membatalkan operasi ini
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Lanjutkan</button>
                <button class="button alert" onclick="location = '/admin/staff/'">
                  Batalkan
                </button>
              </div>
            </div>
            <button class="button success">
              <i class="fa fa-save"></i> Simpan
            </button>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>No Pegawai :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nopeg" placeholder="No Pegawai" required />
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Pegawai :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nama_pegawai" placeholder="Nama Pegawai" required />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>N.P.W.P :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="npwp" placeholder="N.P.W.P" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>NIK :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nik" placeholder="NIK" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Basis Gaji :</p>
              </div>
              <div class="cell-lg-6">
                <select name="basis_gaji">
                  <option value="Nett">Nett</option>
                  <option value="Gross">Gross</option>
                  <option value="Gross-Up">Gross-Up</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>PPh Kembali Bulan Terakhir:</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pph_kembali_bulan_terakhir"
                  placeholder="PPh Kembali Bulan Terakhir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Jenis Kelamin :</p>
              </div>
              <div class="cell-lg-6">
                <select name="kelamin" form="staffform" data-role="input" id="kelamin" required>
                  <option value="L">Laki-laki</option>
                  <option value="P">Perempuan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Status Pajak :</p>
              </div>
              <div class="cell-lg-6">
                <select name="status_pajak">
                  <option value="K/0">K/0</option>
                  <option value="K/1">K/1</option>
                  <option value="K/2">K/2</option>
                  <option value="K/3">K/3</option>
                  <option value="TK/0">TK/0</option>
                  <option value="TK/1">TK/1</option>
                  <option value="TK/2">TK/2</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Status Kepegawaian :</p>
              </div>
              <div class="cell-lg-6">
                <select id="status_pegawai" name="status_pegawai" form="staffform" data-role="input">
                  <option value="aktif">Aktif</option>
                  <option value="nonaktif">Tidak Aktif</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Dept Code :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="dept_code" placeholder="Dept Code" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>GL Account :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="gl_account" placeholder="GL Account" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Group Expenses :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="group_expenses" placeholder="Group Expenses" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Dept :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="dept" placeholder="Dept" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Golongan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="golongan" placeholder="Golongan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Jabatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="jabatan" placeholder="Jabatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Mulai Kerja :</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" name="tanggal_mulai_kerja"
                  placeholder="Tanggal Mulai Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Catatan/Status/Kondisi (aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <select name="catatan-aktif" form="staffform" data-role="input" id="catatan-aktif"
                  aria-readonly="false">
                  <option value="" selected hidden">Pilih Status</option>
                  <option value="skorsing">Skorsing</option>
                  <option value="cuti">Cuti Grafida</option>
                  <option value="dirumahkan">Dirumahkan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Mulai Payslip :</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" name="mulai_payslip" placeholder="Mulai Payslip" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Berakhir Payslip :</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" name="berakhir_payslip" placeholder="Berakhir Payslip" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Keterangan (aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="keterangan_aktif" placeholder="Keterangan (aktif)"
                  id="keterangan_aktif" value="" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_kontrak" placeholder="Nomor Kontrak" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="masa_kontrak" placeholder="Masa Kontrak" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Catatan/Status/Kondisi (tidak aktif):</p>
              </div>
              <div class="cell-lg-6">
                <select name="catatan-nonaktif" form="staffform" data-role="input" id="catatan-nonaktif"
                  aria-readonly="true">
                  <option value="" selected hidden">Pilih Status</option>
                  <option value="resign">Resign</option>
                  <option value="habis_kontrak">Habis Kontrak</option>
                  <option value="dikeluarkan">Dikeluarkan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Resign/Selesai Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tgl_resign" placeholder="Tanggal Resign/Selesai Kontrak"
                  id=tgl_resign value="" readonly />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Pengganti :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pengganti" id="pengganti" placeholder="Pengganti" value=""
                  readonly />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Keterangan (tidak aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="keterangan_nonaktif" placeholder="Keterangan (tidak aktif)"
                  id="keterangan_nonaktif" value="" readonly />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Ditempatkan Di Perusahaan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="ditempatkan_di_perusahaan"
                  placeholder="Ditempatkan Di Perusahaan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Under Supervisi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="under_supervisi" placeholder="Under Supervisi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Lokasi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="lokasi" placeholder="Lokasi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor ID Card :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_id_card" placeholder="Nomor ID Card" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku ID Card :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="masa_berlaku_id_card" placeholder="Masa Berlaku ID Card" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tempat Lahir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tempat_lahir" placeholder="Tempat Lahir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Lahir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="date" data-role="datepicker" name="tanggal_lahir" placeholder="Tanggal Lahir" />
              </div>
            </div>
          </div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Domisili Sekarang :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="alamat_domisili_sekarang"
                  placeholder="Alamat Domisili Sekarang" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Email Perusahaan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="alamat_email_perusahaan"
                  placeholder="Alamat Email Perusahaan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Alamat Email Pribadi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="alamat_email_pribadi" placeholder="Alamat Email Pribadi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Telepon :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_telpon" placeholder="Nomor Telepon" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor Kartu Keluarga :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_kartu_keluarga" placeholder="Nomor Kartu Keluarga" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Suami/Istri :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nama_suami_istri" placeholder="Nama Suami/Istri" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nama_anak_satu" placeholder="Nama Anak 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nama_anak_dua" placeholder="Nama Anak 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nama Anak 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nama_anak_tiga" placeholder="Nama Anak 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor BPJS Kesehatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_bpjs_kesehatan" placeholder="Nomor BPJS Kesehatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku BPJS Kesehatan :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="masa_berlaku_bpjs_kesehatan"
                  placeholder="Masa Berlaku BPJS Kesehatan" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Nomor BPJS Tenaga Kerja :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="nomor_bpjs_tenagakerja"
                  placeholder="Nomor BPJS Tenaga Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Masa Berlaku BPJS Tenaga Kerja :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="masa_berlaku_bpjs_tenagakerja"
                  placeholder="Masa Berlaku BPJS Tenaga Kerja" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Premi Asuransi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="premi_asuransi" placeholder="Premi Asuransi" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Pendidikan Terakhir :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pendidikan_terakhir" placeholder="Pendidikan Terakhir" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="sertifikat_satu" placeholder="Sertifikat 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="sertifikat_dua" placeholder="Sertifikat 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="sertifikat_tiga" placeholder="Sertifikat 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Sertifikat 4 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="sertifikat_empat" placeholder="Sertifikat 4" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training Diikuti :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="training_diikuti" placeholder="Training Diikuti" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 1 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="training_satu" placeholder="Training 1" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 2 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="training_dua" placeholder="Training 2" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 3 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="training_tiga" placeholder="Training 3" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Training 4 :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="training_empat" placeholder="Training 4" />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Referensi :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="referensi" placeholder="Referensi" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}


{% block js %}
<script>

  $(document).ready(function () {
    $("#status_pegawai").change(function () {
      if ($('#status_pegawai').val() == 'aktif') {
        // $('#pengganti, #tgl_resign, #keterangan_nonaktif').val('')
        // $('#catatan-nonaktif').val(1);
        $('#pengganti, #tgl_resign, #keterangan_nonaktif').prop('readonly', true);
        $('#catatan-nonaktif').attr("aria-readonly", "true");
        $('#tgl_mulai, #tgl_berakhir, #keterangan_aktif').prop('readonly', false);
        $('#catatan-aktif').attr("aria-readonly", "false");
      }
      else if ($('#status_pegawai').val() == 'nonaktif') {
        // $('#pengganti, #tgl_resign, #keterangan_nonaktif').val('')
        // $('#catatan-aktif').val(1);
        $('#tgl_mulai, #tgl_berakhir, #keterangan_aktif').prop('readonly', true);
        $('#catatan-aktif').attr("aria-readonly", "true");
        $('#pengganti, #tgl_resign, #keterangan_nonaktif').prop('readonly', false);
        $('#catatan-nonaktif').attr("aria-readonly", "false");
      }
    });
  });
</script>
{% endblock %}