{% extends "base.html" %} {% block content %}

<style></style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Pengaturan Staff :</p>
    </section>

    <section>
      <p class="h2">Status Kepegawaian</p>
      <div class="cell-lg-1">
        <button class="button info" onclick="location = '/admin/staff/edit-status/{{ staff.nopeg }}/'">
          <i class="fa fa-pencil-alt"></i> Ubah
        </button>
      </div>
      <hr style="background-color: black">
    </section>
    <section>

      {% if statusStaff.status_pegawai == "aktif" %}
      <div class="row mt-3 pl-3">
        <div class="cell-lg-6">
          <p>Status Kepegawaian : <span style="color: chartreuse">Aktif</span></p>
          <p>Catatan/Status/Kondisi : {{ statusStaff.status_aktif }}</p>
          <p>Keterangan: {{ statusStaff.keterangan_aktif }}</p>
        </div>
      </div>

      {% else %}

      <div class="row mt-3 pl-3">
        <div class="cell-lg-6">
          <p>Status Kepegawaian : <span style="color: red">Tidak Aktif</span></p>
          <p>Catatan/Status/Kondisi : {{ statusStaff.status_tidak_aktif}}</p>
          <p>Keterangan: {{statusStaff.keterangan_nonaktif}}</p>
        </div>
        <div class="cell-lg-6">
          <p>Tanggal Resign/ Selesai Kontrak : {{ statusStaff.finish_contract }}</p>
          <p>Pengganti: <a href="/admin/staff/detail/{{ statusStaff.pengganti }}/">{{ statusStaff.pengganti }}</a></p>
        </div>
      </div>

      {% endif %}

    </section>

    <section style="margin-top: 100px">
      <p class="h2">Informasi Pegawai</p>
      <div class="cell-lg-1">
        <button class="button info" onclick="location = '/admin/staff/edit/{{ staff.nopeg }}/'">
          <i class="fa fa-pencil-alt"></i> Ubah
        </button>
      </div>
      <hr style="background-color: black">
    </section>




    <!-- <section>
      <div class="select-dept">
        <div class="row mt-3 pl-3">
          <div class="cell-lg-1">
            <button
              class="button info"
              onclick="location = '/admin/staff/edit/{{ staff.nopeg }}/'"
            >
              <i class="fa fa-pencil-alt"></i> Ubah
            </button>
          </div>
          <div class="cell-lg-1">
            <div class="dialog" id="delete-confirmation" data-role="dialog">
              <div class="dialog-title">Hapus Staff</div>
              <div class="dialog-content">
                Apakah kamu yakin akan menghapus data staff ini?
              </div>
              <div class="dialog-actions">
                <button
                  class="button alert js-dialog-close"
                  onclick="location = '/admin/delete/staff/{{ staff.nopeg }}/'"
                >
                  Deactive
                </button>
                <button class="button js-dialog-close">Batal</button>
              </div>
            </div>
            <button
              class="button alert"
              onclick="Metro.dialog.open('#delete-confirmation')"
            >
              <i class="fa fa-trash"></i> Deactive
            </button>
          </div>
        </div>
      </div>
    </section> -->
    <section>
      <div class="row mt-3 pl-3">
        <div class="cell-lg-6">
          <p>No Urut : {{ staff.pk }}</p>
          <p>No. Peg : {{ staff.nopeg }}</p>
          <p>Nama Pegawai : {{ staff.nama_pegawai }}</p>
          <p>N.P.W.P : {{ staff.npwp }}</p>
          <p>NIK : {{ staff.nik }}</p>
          <p>Basis Gaji : {{ staff.basis_gaji }}</p>
          <p>PPH Kembali Bulan Terakhir : {{ staff.pph_kembali_bulan_terakhir }}</p>
          <p>Jenis Kelamin : {{ staff.jenis_kelamin }}</p>
          <p>Status Pajak : {{ staff.status_pajak}}</p>
          <p>Dept Code : {{ staff.dept_code }}</p>
          <p>GL Account : {{ staff.gl_account }}</p>
          <p>Group Expenses : {{ staff.group_expenses }}</p>
          <p>Dept : {{ staff.dept }}</p>
          <p>Golongan : {{ staff.golongan }}</p>
          <p>Jabatan : {{ staff.jabatan }}</p>
          <p>Tanggal Mulai Kerja : {{ staff.tanggal_mulai_kerja }}</p>
          <p>Mulai Payslip : {{ staff.mulai_payslip }}</p>
          <p>Berakhir Payslip : {{ staff.berakhir_payslip }}</p>
          <p>Nomor Kontrak : {{ staff.nomor_kontrak }}</p>
          <p>Masa Kontrak : {{ staff.masa_kontrak }}</p>
          <p>Ditempatkan Di Perusahaan : {{ staff.ditempatkan_di_perusahaan }}</p>
          <p>Under Supervisi : {{ staff.under_supervisi }}</p>
          <p>Lokasi : {{ staff.lokasi }}</p>
          <p>Nomor ID Card : {{ staff.nomor_id_card }}</p>
          <p>Masa Berlaku ID Card : {{ staff.masa_berlaku_id_card }}</p>
        </div>
        <div class="cell-lg-6">
          <p>Tempat Lahir : {{ staff.tempat_lahir }}</p>
          <p>Tanggal Lahir : {{ staff.tanggal_lahir }}</p>
          <p>Alamat Domisili Sekarang : {{ staff.alamat_domisili_sekarang }}</p>
          <p>Alamat Email Perusahaan : {{ staff.alamat_email_perusahaan }}</p>
          <p>Alamat Email Pribadi : {{ staff.alamat_email_pribadi }}</p>
          <p>Nomor Telepon : {{ staff.nomor_telpon }}</p>
          <p>Nomor Kartu Keluarga : {{ staff.nomor_kartu_keluarga }}</p>
          <p>Nama Suami/Istri : {{ staff.nama_suami_istri }}</p>
          <p>Nama Anak 1 : {{ staff.nama_anak_satu }}</p>
          <p>Nama Anak 2 : {{ staff.nama_anak_dua }}</p>
          <p>Nama Anak 3 : {{ staff.nama_anak_tiga }}</p>
          <p>Nomor BPJS Kesehatan : {{ staff.nomor_bpjs_kesehatan }}</p>
          <p>Masa Berlaku BPJS Kesehatan : {{ staff.masa_berlaku_bpjs_kesehatan }}</p>
          <p>Nomor BPJS Tenaga Kerja : {{ staff.nomor_bpjs_tenagakerja }}</p>
          <p>Masa Berlaku BPJS Tenaga Kerja : {{ staff.masa_berlaku_bpjs_tenagakerja }}</p>
          <p>Premi Asuransi :{{ staff.premi_asuransi }}</p>
          <p>Pendidikan Terakhir :{{ staff.pendidikan_terakhir }}</p>
          <p>Sertifikat 1 : {{ staff.sertifikat_satu }}</p>
          <p>Sertifikat 2 : {{ staff.sertifikat_dua }}</p>
          <p>Sertifikat 3 : {{ staff.sertifikat_tiga }}</p>
          <p>Sertifikat 4 : {{ staff.sertifikat_empat }}</p>
          <p>Training Diikuti : {{ staff.training_diikuti }}</p>
          <p>Training 1 : {{ staff.training_satu }}</p>
          <p>Training 2 : {{ staff.training_dua }}</p>
          <p>Training 3 : {{ staff.training_tiga }}</p>
          <p>Training 4 : {{ staff.training_empat }}</p>
          <p>Referensi: {{ staff.referensi }}</p>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %} {% block js %} {% endblock %}