{% extends "base.html" %}
{% block content %}
<style>
  :disabled {
    color: black !important;
  }
</style>
<div class="shifted-content-2 h-100 p-ab">
  <div class="h-100 p-4">
    <section class="mb-10">
      <p class="h1">Edit Status Staff :</p>
    </section>

    <section>
      <form method="POST" action="/admin/edit-status/staff/" id="statusform"
        onsubmit="return confirm('Are you sure you want to submit?')">
        <div class="select-dept">
          <div class="row mt-3 pl-3">
            <a onclick="Metro.dialog.open('#cancel-confirmation')">
              <li class="button alert">Batal</li>
            </a>
            <div class="dialog" id="cancel-confirmation" data-role="dialog">
              <div class="dialog-title">Logout</div>
              <div class="dialog-content">
                Anda yakin ingin membatalkan operasi ini
              </div>
              <div class="dialog-actions">
                <button class="button js-dialog-close bg-sidebar" style="color: white;">Lanjutkan</button>
                <button class="button alert" onclick="location = '/admin/staff/'">
                  Batalkan
                </button>
              </div>
            </div>
            <button class="button success">
              <i class="fa fa-save"></i> Simpan
            </button>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Status Kepegawaian :</p>
              </div>
              <div class="cell-lg-6">
                <input value="{{ statusStaff.staff.nopeg }}" name="nopeg" hidden />
                <select id="status_pegawai" name="status_pegawai" data-role="input" form="statusform">
                  <option value="aktif" {% if statusStaff.status_pegawai == 'aktif' %} selected {% endif %}>Aktif
                  </option>
                  <option value="nonaktif" {% if statusStaff.status_pegawai == 'nonaktif' %} selected {% endif %}>Tidak
                    Aktif</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pl-3">
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Catatan/Status/Kondisi (aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <select name="catatan-aktif" form="statusform" data-role="input" id="catatan-aktif">
                  <option value=""></option>
                  <option value="skorsing" {% if statusStaff.status_aktif == 'skorsing' %} selected {% endif %}>Skorsing
                  </option>
                  <option value="cuti" {% if statusStaff.status_aktif == 'cuti' %} selected {% endif %}>Cuti Grafida
                  </option>
                  <option value="dirumahkan" {% if statusStaff.status_aktif == 'dirumahkan' %} selected {% endif %}>
                    Dirumahkan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Keterangan (aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="keterangan_aktif" placeholder="Keterangan"
                  id="keterangan_aktif" value="{{ statusStaff.keterangan_aktif }}" />
              </div>
            </div>
          </div>
          <div class="cell-lg-6">
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Catatan/Status/Kondisi (tidak aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <select name="catatan-nonaktif" form="statusform" data-role="input" id="catatan-nonaktif" disabled>
                  <option value=""></option>
                  <option value="resign" {% if statusStaff.status_tidak_aktif == 'resign' %} selected{% endif %}>Resign
                  </option>
                  <option value="habis_kontrak" {% if statusStaff.status_tidak_aktif == 'habis_kontrak' %}
                    selected{% endif %}>Habis Kontrak</option>
                  <option value="dikeluarkan" {% if statusStaff.status_tidak_aktif == 'dikeluarkan' %}
                    selected{% endif %}>Dikeluarkan</option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Tanggal Resign/Selesai Kontrak :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="tgl_resign" placeholder="Tanggal Resign/Selesai Kontrak"
                  id=tgl_resign value="{{ statusStaff.finish_contract }}" disabled />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Pengganti :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="pengganti" id="pengganti" placeholder="Pengganti"
                  value="{{ statusStaff.pengganti }}" disabled />
              </div>
            </div>
            <div class="row mt-2">
              <div class="cell-lg-5">
                <p>Keterangan (tidak aktif) :</p>
              </div>
              <div class="cell-lg-6">
                <input type="text" data-role="input" name="keterangan_nonaktif" placeholder="Keterangan (tidak aktif)"
                  id="keterangan_nonaktif" value="{{ statusStaff.keterangan_nonaktif }}" disabled />
              </div>
            </div>
          </div>
      </form>
    </section>
  </div>
</div>


{% endblock %}

{% block js %}
<script>

  $(document).ready(function () {
    check();
    $("#status_pegawai").change(check);
  });

  function check() {
    if ($('#status_pegawai').val() == 'aktif') {
      // $('#pengganti, #tgl_resign, #keterangan_nonaktif').val('')
      // $('#catatan-nonaktif').val(1);
      $('#catatan-nonaktif, #pengganti, #tgl_resign, #keterangan_nonaktif').prop('disabled', true);
      $('#catatan-aktif, #tgl_mulai, #tgl_berakhir, #keterangan_aktif').prop('disabled', false);
    }
    else if ($('#status_pegawai').val() == 'nonaktif') {
      // // $('#tgl_mulai, #tgl_berakhir, #keterangan_aktif').val('')
      // $('#catatan-aktif').val(1);
      $('#catatan-aktif, #tgl_mulai, #tgl_berakhir, #keterangan_aktif').prop('disabled', true);
      $('#pengganti, #tgl_resign, #keterangan_nonaktif, #catatan-nonaktif').prop('disabled', false);
    }
  }
</script>
{% endblock %}