{% load custom_filter %}

{{ gaji_netto }}

<div id="dashboard_payroll">
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Gaji Pokok</p><h3 style="margin: 0"><strong>{{ gaji_pokok | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Potongan Absen</p><h3 style="margin: 0"><strong>{{ potongan_absen | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Lembur</p><h3 style="margin: 0"><strong>{{  lembur | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> THR</p><h3 style="margin: 0"><strong>{{ thr | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Rapel</p><h3 style="margin: 0"><strong>{{ rapel | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Bonus</p><h3 style="margin: 0"><strong>{{ bonus | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> U.Makan</p><h3 style="margin: 0"><strong>{{ uang_makan | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> T.Jabatan</p><h3 style="margin: 0"><strong>{{ tunjangan_jabatan | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Seniority</p><h3 style="margin: 0"><strong>{{ seniority | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Transport</p><h3 style="margin: 0"><strong>{{ transport | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> T. Keluarga</p><h3 style="margin: 0"><strong>{{ tunjangan_keluarga  | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> T. Shift</p><h3 style="margin: 0"><strong>{{ tunjangan_shift  | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> P.Kehadiran</p><h3 style="margin: 0"><strong>{{ tunjangan_kehadiran | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Tunjangan Lainnya</p><h3 style="margin: 0"><strong>{{ tunjangan_lainnya | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Tunjangan PPh-21</p><h3 style="margin: 0"><strong>{{ tunjangan_pph_21 | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Gaji Bruto</p><h3 style="margin: 0"><strong>{{ gaji_bruto | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Salary Excl OT.</p><h3 style="margin: 0"><strong>{{ salary_exclude_ot | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> PPh-21</p><h3 style="margin: 0"><strong>{{ pph_21 | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Astek JP (0.01 + 0.01)%</p><h3 style="margin: 0"><strong>{{ astek_jp | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> BPJS Kes 1%</p><h3 style="margin: 0"><strong>{{ bpjs_kesehatan_1 | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> BPJS Kes 4%</p><h3 style="margin: 0"><strong>{{ bpjs_kesehatan_4 | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Asuransi JKK & JKM 1,19%</p><h3 style="margin: 0"><strong>{{ asuransi_jkk_jkm | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> IURAN SPSI</p><h3 style="margin: 0"><strong>{{ iuran_spsi | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Potongan Lainnya</p><h3 style="margin: 0"><strong>{{ potongan_lainnya | currency}}</strong></h3></div></div>
    </div>
    <div class="row">
        <div class="cell-3"><div><p><span class="mif-user"></span> Total Potongan</p><h3 style="margin: 0"><strong>{{ total_potongan | currency}}</strong></h3></div></div>
        <div class="cell-3"><div><p><span class="mif-user"></span> Gaji Netto</p><h3 style="margin: 0"><strong>{{ gaji_netto | currency}}</strong></h3></div></div>
    </div>    
</div>