{% extends "base.html" %}
{% load custom_filter %}

{% block content %}

<style>
    button {
        background-color: #5a9db1;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        width: 150px;
        height: 33px;
    }

    p {
        font-size: 1.2vw;
    }

    h3 {
        font-size: 2vw;
    }
</style>

<div class="shifted-content-2 h-100 p-ab">
    <div class="h-100 p-4">
        <section class="mb-10">
            <div class="grid">
                <form id="form_dashboard_hrd">
                    {% csrf_token %}
                    <div class="row">
                        <div class="cell-2">
                            <div>
                                <label for="recap_code">Dep Code</label>
                                <select id="recap_code" name="recap_code">
                                    {% if recap_code %}
                                    <option value="{{ recap_code }}" selected disabled hidden>{{ recap_code }}</option>
                                    <option value="">All</option>
                                    {% else %}
                                    <option value="" selected disabled hidden>All</option>
                                    {% endif %}
                                    {% for code in dept_code %}
                                    <option value="{{ code }}">{{ code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="cell-2">
                            <label for="recap_month">Bulan</label>
                            <input type="date" data-role="datepicker" data-day="false"
                                data-value="{{ recap_month_val|date:'Y-m-d' }}" id="recap_month" />
                        </div>
                        <div class="cell-2">
                            <div>
                                <br />
                                <button class="submit" type="button">Apply</button>
                            </div>
                        </div>
                        <!-- <div class="cell-2">
                            <div>
                                <br />
                                <button type="button" onclick="submitForm('/admin/load/dashboard/hrd-current')">Current
                                    Condition</button>
                            </div>
                        </div> -->
                    </div>
                </form>
                <div id="dashboard_hrd">
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Pegawai Aktif (year to date)</p>
                                <h3 style="margin: 0"><strong>{{ jumlah_pegawai_aktif_tahun }}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Pegawai Aktif (current month)</p>
                                <h3 style="margin: 0"><strong>{{ jumlah_pegawai_aktif_bulan }}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Pegawai Non-aktif (year to date)</p>
                                <h3 style="margin: 0"><strong>{{ jumlah_pegawai_tidak_aktif_tahun }}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Total Unit</p>
                                <h3 style="margin: 0"><strong>{{ total_unit }}</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <h3> <strong>Statistik Pegawai </strong><small style="color:black">periode bulanan</small></h3>
                </div>
                <form id="form_chart_hrd">
                    <div class="row">
                        <div class="cell-2">
                            <div>
                                <label for="stats_code">Dep Code</label>
                                <select id="stats_code" name="stats_code">
                                    {% if stats_code %}
                                    <option value="{{ stats_code }}" selected disabled hidden>{{ stats_code }}</option>
                                    <option value="">All</option>
                                    {% else %}
                                    <option value="" selected disabled hidden>All</option>
                                    {% endif %}
                                    {% for code in dept_code %}
                                    <option value="{{ code }}">{{ code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="cell-2">
                            <div>
                                <label for="stats_start">Bulan Mulai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ stats_start_val|date:'Y-m-d' }}" id="stats_start" />
                            </div>
                        </div>
                        <div class="cell-2">
                            <div>
                                <label for="stats_end">Bulan Selesai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ stats_end_val|date:'Y-m-d' }}" id="stats_end" />
                            </div>
                        </div>
                        <div class="cell-2">
                            <div>
                                <br />
                                <button class="submit" type="button">Apply</button>
                            </div>
                        </div>
                        <!-- <div class="cell-2">
                            <div></br><button type="button"
                                    onclick="submitFormHrdChart('/admin/load/chart/hrd-current')">Current
                                    Condition</button></div>
                        </div> -->
                    </div>
                </form>
                <div class="row">
                    <div class="chart-container" id="parent-chart" style="position: relative; height:40vh; width:80vw">
                        <canvas id="myChart"></canvas>
                        <div id="myData" hidden>
                            {% for s in stats %}
                            <div class="stats">
                                <div class="bulan">{{ s.0 }}</div>
                                <div class="aktif">{{ s.1 }}</div>
                                <div class="nonaktif">{{ s.2 }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <form id="form_chart_unit">
                    {% csrf_token %}
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <label for="status_code">Status</label>
                                <select id="status_code" name="status_code">
                                    {% if status_code %}
                                    <option value="{{ status_code }}" selected hidden disabled>{{ status_code | title }}
                                    </option>
                                    {% endif %}
                                    <option value="aktif">Aktif</option>
                                    <option value="nonaktif">Nonaktif</option>
                                </select>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <label for="status_month">Bulan</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ status_month_val|date:'Y-m-d' }}" id="status_month" />
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <br />
                                <button class="submit" type="button">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="chart-container" id="parent-chart2" style="position: relative; height:40vh; width:80vw">
                        <canvas id="myChart2"></canvas>
                        <div id="myData2" hidden>
                            {% for s in status %}
                            <div class="status">
                                <div class="dept">{{ s.0 }}</div>
                                <div class="count">{{ s.1 }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block js  %}
<script>
    $(document).ready(function () {
        var rc = getUrlParameter('recap_code');
        var rm = getUrlParameter('recap_month');

        var sc = getUrlParameter('stats_code');
        var ss = getUrlParameter('stats_start');
        var se = getUrlParameter('stats_end');

        var stc = getUrlParameter('status_code');
        var stm = getUrlParameter('status_month');

        var recap_code = rc.length > 0 ? `recap_code=${rc}` : '';
        var recap_month = rm.length > 0 ? `&recap_month=${rm}` : '';

        var stats_code = sc.length > 0 ? `&stats_code=${sc}` : '';
        var stats_start = ss.length > 0 ? `&stats_start=${ss}` : '';
        var stats_end = se.length > 0 ? `&stats_end=${se}` : '';

        var status_code = stc.length > 0 ? `&status_code=${stc}` : '';
        var status_month = stm.length > 0 ? `&status_month=${stm}` : '';


        $('#recap_code').change(function () {
            var item = $(this).children("option:selected").val();
            if (item.length > 0) {
                recap_code = `recap_code=${item}`
            } else {
                recap_code = ''
            }
        })

        $('#recap_month').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                recap_month = `&recap_month=${month} ${item[0]}`
            }
        })

        $('#stats_code').change(function () {
            var item = $(this).children("option:selected").val();
            if (item.length > 0) {
                stats_code = `&stats_code=${item}`
            }
        })

        $('#stats_start').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                stats_start = `&stats_start=${month} ${item[0]}`
            }
        })

        $('#stats_end').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                stats_end = `&stats_end=${month} ${item[0]}`
            }
        })

        $('#status_code').change(function () {
            var item = $(this).children("option:selected").val();
            if (item.length > 0) {
                status_code = `&status_code=${item}`
            }
        })

        $('#status_month').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                status_month = `&status_month=${month} ${item[0]}`
            }
        })

        $('.submit').click(function (e) {
            e.preventDefault();
            var url = `/admin/dashboard/staff?${recap_code}${recap_month}${stats_code}${stats_start}${stats_end}${status_code}${status_month}`

            url = url.replace('+', '%20')
            $(location).attr('href', url);
        })


        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        var active = [];
        var inactive = [];
        var labels = [];

        var myData = $('#myData').find('.stats').children();
        var cnt = 0;

        for (data of myData) {
            if (cnt == 0) {
                labels.push($(data).text())
                cnt++;
            } else if (cnt == 1) {
                active.push($(data).text())
                cnt++;
            } else if (cnt == 2) {
                inactive.push($(data).text())
                cnt = 0;
            }
        }

        var ctx = document.getElementById('myChart').getContext('2d');

        var sts_code = status_code.split("=")[1]
        var chartColor = (sts_code == "nonaktif") ? "#5a9db1" : "#8ed6ab";
        var chartText = (sts_code == "nonaktif") ? "Non Aktif" : "Aktif";

        var data = {
            labels: labels,
            datasets: [{
                label: "Aktif",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#8ed6ab",
                borderColor: "#8ed6ab", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "#8ed6ab",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: active,
                spanGaps: true,
            }, {
                label: "Non Aktif",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#5a9db1",
                borderColor: "#5a9db1", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "#5a9db1",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: inactive,
                spanGaps: true,
            }


            ]
        }

        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],

                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        var codes = [];
        var count = [];

        var myData2 = $('#myData2').find('.status').children();
        var cnt = 0;

        for (data of myData2) {
            if (cnt == 0) {
                codes.push($(data).text())
                cnt++;
            } else if (cnt == 1) {
                count.push($(data).text())
                cnt = 0;
            }
        }

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var data2 = {
            labels: codes,
            datasets: [{
                label: chartText,
                fill: false,
                lineTension: 0.1,
                backgroundColor: chartColor,
                borderColor: chartColor, // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: chartColor,
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: count,
                spanGaps: true,
            }]
        }

        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: data2,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],

                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });

    function convertMonth(intMonth) {
        months = {
            "01": "January",
            "02": "February",
            "03": "March",
            "04": "April",
            "05": "May",
            "06": "June",
            "07": "July",
            "08": "August",
            "09": "September",
            "10": "October",
            "11": "November",
            "12": "December",
        }
        return months[intMonth]
    }

</script>

{% endblock %}