{% extends "base.html" %}
{% load custom_filter %}

{% block content %}

<style>
    button {
        background-color: #5a9db1;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        width: 150px;
        height: 33px;
    }

    p {
        font-size: 1.2vw;
    }

    h3 {
        font-size: 2vw;
    }
</style>

<div class="shifted-content-2 h-100 p-ab">
    <div class="h-100 p-4">
        <section class="mb-10">
            <div class="grid">
                <form id="form_dashboard_payroll">
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <label for="recap_dept_code">Dep Code</label>
                                <select id="recap_dept_code" name="recap_dept_code">
                                    {% if recap_code %}
                                    <option value="{{ recap_code }}" selected disabled hidden>{{ recap_code }}</option>
                                    <option value="">All</option>
                                    {% else %}
                                    <option value="" selected disabled hidden>All</option>
                                    {% endif %}
                                    {% for code in dept_code %}
                                    <option value="{{ code }}">{{ code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <label for="recap_date_start">Bulan Mulai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ recap_start_val|date:'Y-m-d' }}" id="recap_date_start" />
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <label for="recap_date_end">Bulan Selesai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ recap_end_val|date:'Y-m-d' }}" id="recap_date_end" />
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <br>
                                <button class="submit">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="dashboard_payroll">
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Gaji Pokok</p>
                                <h3 style="margin: 0"><strong>{{ gaji_pokok | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Potongan Absen</p>
                                <h3 style="margin: 0"><strong>{{ potongan_absen | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Lembur</p>
                                <h3 style="margin: 0"><strong>{{  lembur | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> THR</p>
                                <h3 style="margin: 0"><strong>{{ thr | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Rapel</p>
                                <h3 style="margin: 0"><strong>{{ rapel | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Bonus</p>
                                <h3 style="margin: 0"><strong>{{ bonus | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> U.Makan</p>
                                <h3 style="margin: 0"><strong>{{ uang_makan | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> T.Jabatan</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_jabatan | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Seniority</p>
                                <h3 style="margin: 0"><strong>{{ seniority | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Transport</p>
                                <h3 style="margin: 0"><strong>{{ transport | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> T. Keluarga</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_keluarga  | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> T. Shift</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_shift  | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> P.Kehadiran</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_kehadiran | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Tunjangan Lainnya</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_lainnya | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Tunjangan PPh-21</p>
                                <h3 style="margin: 0"><strong>{{ tunjangan_pph_21 | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Gaji Bruto</p>
                                <h3 style="margin: 0"><strong>{{ gaji_bruto | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Salary Excl OT.</p>
                                <h3 style="margin: 0"><strong>{{ salary_exclude_ot | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> PPh-21</p>
                                <h3 style="margin: 0"><strong>{{ pph_21 | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Astek JP (0.01 + 0.01)%</p>
                                <h3 style="margin: 0"><strong>{{ astek_jp | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> BPJS Kes 1%</p>
                                <h3 style="margin: 0"><strong>{{ bpjs_kesehatan_1 | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> BPJS Kes 4%</p>
                                <h3 style="margin: 0"><strong>{{ bpjs_kesehatan_4 | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Asuransi JKK & JKM 1,19%</p>
                                <h3 style="margin: 0"><strong>{{ asuransi_jkk_jkm | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> IURAN SPSI</p>
                                <h3 style="margin: 0"><strong>{{ iuran_spsi | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Potongan Lainnya</p>
                                <h3 style="margin: 0"><strong>{{ potongan_lainnya | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Total Potongan</p>
                                <h3 style="margin: 0"><strong>{{ total_potongan | rupiah}}</strong></h3>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <p><span class="mif-user"></span> Gaji Netto</p>
                                <h3 style="margin: 0"><strong>{{ gaji_netto | rupiah}}</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-15">
                    <h3> <strong>Gaji Bersih </strong><small style="color:black">periode bulanan</small></h3>
                </div>
                <form id="form_chart_payroll">
                    <div class="row">
                        <div class="cell-3">
                            <div>
                                <label for="rate_dept_code">Dep Code</label>
                                <select id="rate_dept_code" name="rate_dept_code">
                                    {% if rate_code %}
                                    <option value="{{ rate_code }}" selected disabled hidden>{{ rate_code }}</option>
                                    <option value="">All</option>
                                    {% else %}
                                    <option value="" selected disabled hidden>All</option>
                                    {% endif %}
                                    {% for code in dept_code %}
                                    <option value="{{ code }}">{{ code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <label for="rate_date_start">Bulan Mulai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ rate_start_val|date:'Y-m-d' }}" id="rate_date_start" />
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <label for="rate_date_end">Bulan Selesai</label>
                                <input type="date" data-role="datepicker" data-day="false"
                                    data-value="{{ rate_end_val|date:'Y-m-d' }}" id="rate_date_end" />
                            </div>
                        </div>
                        <div class="cell-3">
                            <div>
                                <br />
                                <button class="submit">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="chart-container" id="parent-chart" style="position: relative; height:40vh; width:80vw">
                        <canvas id="myChart"></canvas>
                        <div id="myData" hidden>
                            {% for rate in rates %}
                            <div class="rate">
                                <div class="gaji">{{ rate.0 }}</div>
                                <div class="bulan">{{ rate.1 }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block js  %}
<script>
    $(document).ready(function () {

        var rc = getUrlParameter('recap_code');
        var rs = getUrlParameter('recap_start');
        var re = getUrlParameter('recap_end');

        var rtc = getUrlParameter('rate_code');
        var rts = getUrlParameter('rate_tart');
        var rte = getUrlParameter('rate_end');

        var recap_dept_code = rc.length > 0 ? `recap_code=${rc}` : '';
        var recap_date_start = rs.length > 0 ? `&recap_start=${rs}` : '';
        var recap_date_end = re.length > 0 ? `&recap_end=${re}` : '';

        var rate_dept_code = rtc.length > 0 ? `&rate_code=${rtc}` : '';
        var rate_date_start = rts.length > 0 ? `&rate_end=${rts}` : '';
        var rate_date_end = rts.length > 0 ? `&rate_end=${rte}` : '';


        $('#recap_dept_code').change(function () {
            var item = $(this).children("option:selected").val();
            if (item.length > 0) {
                recap_dept_code = `recap_code=${item}`
            }
        })

        $('#recap_date_start').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                recap_date_start = `&recap_start=${month} ${item[0]}`
            }
        })

        $('#recap_date_end').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                recap_date_end = `&recap_end=${month} ${item[0]}`
            }
        })

        $('#rate_dept_code').change(function () {
            var item = $(this).children("option:selected").val();
            if (item.length > 0) {
                rate_dept_code = `&rate_code=${item}`
            }
        })

        $('#rate_date_start').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                rate_date_start = `&rate_start=${month} ${item[0]}`
            }
        })

        $('#rate_date_end').change(function () {
            var item = $(this).val().split("-");
            month = convertMonth(item[1])
            if (item.length > 0) {
                rate_date_end = `&rate_end=${month} ${item[0]}`
            }
        })

        $('.submit').click(function (e) {
            e.preventDefault();
            var url = `/admin/dashboard/payroll?${recap_dept_code}${recap_date_start}${recap_date_end}${rate_dept_code}${rate_date_start}${rate_date_end}`

            url = url.replace('+', '%20')
            $(location).attr('href', url);
        })

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        var datas = [];
        var labels = [];

        var myData = $('#myData').find('.rate').children();
        var cnt = 0;

        for (data of myData) {
            if (cnt == 0) {
                datas.push($(data).text())
                cnt++;
            } else if (cnt == 1) {
                labels.push($(data).text())
                cnt = 0;
            }
        }

        console.log(datas);
        console.log(labels);

        var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: labels,
            datasets: [{
                label: "Gaji Bersih",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "#5A9DB1",
                borderColor: "#5A9DB1", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "#5A9DB1",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                // notice the gap in the data and the spanGaps: true
                data: datas,
                spanGaps: true,
            }]
        }

        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],

                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });

    function convertMonth(intMonth) {
        months = {
            "01": "January",
            "02": "February",
            "03": "March",
            "04": "April",
            "05": "May",
            "06": "June",
            "07": "July",
            "08": "August",
            "09": "September",
            "10": "October",
            "11": "November",
            "12": "December",
        }
        return months[intMonth]
    }
</script>

{% endblock %}